# https://www.youtube.com/watch?v=RlIiVeig3hc&t=13s

In [6]:
import pandas as pd
import numpy as np

# 1. Show versions

In [7]:
pd.__version__

'2.2.1'

In [8]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit                : bdc79c146c2e32f2cab629be240f01658cfb6cc2
python                : 3.12.2.final.0
python-bits           : 64
OS                    : Windows
OS-release            : 11
Version               : 10.0.22631
machine               : AMD64
processor             : AMD64 Family 25 Model 33 Stepping 2, AuthenticAMD
byteorder             : little
LC_ALL                : en_US.UTF-8
LANG                  : en_US.UTF-8
LOCALE                : English_United States.1252

pandas                : 2.2.1
numpy                 : 1.26.4
pytz                  : 2024.1
dateutil              : 2.9.0.post0
setuptools            : None
pip                   : 23.2.1
Cython                : None
pytest                : None
hypothesis            : None
sphinx                : None
blosc                 : None
feather               : None
xlsxwriter            : None
lxml.etree            : None
html5lib              : None
pymysql               : None
psycopg2              : None
jinja2                : 3.1.3
IPython               : 8.22.2
pandas_datareader     : None
adbc-driver-postgresql: None
adbc-driver-sqlite    : None
bs4                   : 4.12.3
bottleneck            : None
dataframe-api-compat  : None
fastparquet           : None
fsspec                : None
gcsfs                 : None
matplotlib            : 3.8.3
numba                 : None
numexpr               : None
odfpy                 : None
openpyxl              : None
pandas_gbq            : None
pyarrow               : None
pyreadstat            : None
python-calamine       : None
pyxlsb                : None
s3fs                  : None
scipy                 : 1.12.0
sqlalchemy            : None
tables                : None
tabulate              : None
xarray                : None
xlrd                  : None
zstandard             : None
tzdata                : 2024.1
qtpy                  : None
pyqt5                 : None

# 2. Create exmaple dataframe

In [9]:
pd.DataFrame(np.random.rand(4, 8))

,0,1,2,3,4,5,6,7
0,0.371640,0.085495,0.934106,0.300254,0.596702,0.663421,0.086205,0.263387
1,0.383012,0.253677,0.348501,0.241286,0.858022,0.222304,0.122364,0.779420
2,0.269885,0.565373,0.525987,0.881672,0.596291,0.549920,0.962601,0.094512
3,0.389990,0.137291,0.856228,0.048010,0.992523,0.581780,0.797580,0.919573

In [13]:
df = pd.DataFrame(np.random.rand(4, 8), columns=list('abcdefgh'))

# 3. Rename columns

In [18]:
df.add_prefix('x_')
df.add_suffix('_y')

,a_y,b_y,c_y,d_y,e_y,f_y,g_y,h_y
0,0.716371,0.645080,0.181575,0.759627,0.980620,0.708334,0.252444,0.749779
1,0.789084,0.724239,0.824526,0.852032,0.708940,0.863939,0.337598,0.809657
2,0.394035,0.449732,0.988238,0.481348,0.103415,0.281802,0.063930,0.764314
3,0.180940,0.451020,0.211621,0.340232,0.110351,0.158258,0.503268,0.464119

# 4. Reverse row order

In [19]:
drinks_path = r'F:\DataSpell\Pandas_training\from_youtube_video\data\pandas-videos-master\drinks.csv'
drinks = pd.read_csv(drinks_path)
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,South America
189,Vietnam,111,2,1,2.0,Asia
190,Yemen,6,0,0,0.1,Asia
191,Zambia,32,19,4,2.5,Africa
192,Zimbabwe,64,18,4,4.7,Africa

In [21]:
drinks.loc[::-1]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
192,Zimbabwe,64,18,4,4.7,Africa
191,Zambia,32,19,4,2.5,Africa
190,Yemen,6,0,0,0.1,Asia
189,Vietnam,111,2,1,2.0,Asia
188,Venezuela,333,100,3,7.7,South America
...,...,...,...,...,...,...
4,Angola,217,57,45,5.9,Africa
3,Andorra,245,138,312,12.4,Europe
2,Algeria,25,0,14,0.7,Africa
1,Albania,89,132,54,4.9,Europe
0,Afghanistan,0,0,0,0.0,Asia

In [23]:
drinks.loc[::-1].reset_index(drop=True)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Zimbabwe,64,18,4,4.7,Africa
1,Zambia,32,19,4,2.5,Africa
2,Yemen,6,0,0,0.1,Asia
3,Vietnam,111,2,1,2.0,Asia
4,Venezuela,333,100,3,7.7,South America
...,...,...,...,...,...,...
188,Angola,217,57,45,5.9,Africa
189,Andorra,245,138,312,12.4,Europe
190,Algeria,25,0,14,0.7,Africa
191,Albania,89,132,54,4.9,Europe
192,Afghanistan,0,0,0,0.0,Asia

# 5. Reverse column order