https://www.youtube.com/watch?v=tWFQqaRtSQA&list=PLxhYs0VkONL9h5zHZXNntPqLC1JVg9pxX&index=60

In [1]:
import pandas as pd
import numpy as np

drinks = pd.read_csv('http://bit.ly/drinksbycountry')
stocks = pd.read_csv('http://bit.ly/smallstocks', parse_dates=['Date'])
titanic = pd.read_csv('http://bit.ly/kaggletrain')
ufo = pd.read_csv('http://bit.ly/uforeports', parse_dates=['Time'])

# 1. Check for equality

In [7]:
df = pd.DataFrame({'a': [1, 2, np.nan],
                   'b': [1, 2, np.nan]})
df

     a    b
0  1.0  1.0
1  2.0  2.0
2  NaN  NaN

In [8]:
df.a == df.b

0     True
1     True
2    False
dtype: bool

In [9]:
np.nan == np.nan

False

In [11]:
df.a.equals(df.b)

True

# 2. Check for equality (alternative)

In [12]:
df = pd.DataFrame({'c':[1, 2, 3], 'd':[1.0, 2.0, 3.0], 'e':[1.0, 2.0, 3.000005]})
df

   c    d         e
0  1  1.0  1.000000
1  2  2.0  2.000000
2  3  3.0  3.000005

In [14]:
df.c.equals(df.d)

False

In [16]:
pd.testing.assert_series_equal(df.c, df.d, check_names=False, check_dtype=False)

In [18]:
df_new = df.copy()
pd.testing.assert_frame_equal(df, df_new)

# 3. Use NumPy without importing NumPy

In [20]:
np.random.seed(5)
pd.DataFrame(np.random.rand(2, 2))

          0         1
0  0.221993  0.870732
1  0.206719  0.918611

In [21]:
pd.np.random.seed(0)
pd.DataFrame(pd.np.random.rand(2, 4))

AttributeError: module 'pandas' has no attribute 'np'

# 4. Calculate memory usage

In [22]:
ufo.head()

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00

In [24]:
ufo.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18241 entries, 0 to 18240
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             18215 non-null  object
 1   Colors Reported  2882 non-null   object
 2   Shape Reported   15597 non-null  object
 3   State            18241 non-null  object
 4   Time             18241 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 3.6 MB

In [26]:
ufo.memory_usage(deep=True)

Index                  132
City               1059869
Colors Reported     648257
Shape Reported      940454
State               930291
Time                145928
dtype: int64

# 5. Count the number of words in column

In [27]:
ufo['Colors Reported'].value_counts()

Colors Reported
RED                       780
GREEN                     531
ORANGE                    528
BLUE                      450
YELLOW                    169
RED GREEN                  89
RED BLUE                   78
RED ORANGE                 44
GREEN BLUE                 34
RED GREEN BLUE             33
ORANGE YELLOW              26
RED YELLOW                 25
ORANGE GREEN               23
YELLOW GREEN               17
ORANGE BLUE                10
RED YELLOW GREEN            9
YELLOW BLUE                 6
YELLOW GREEN BLUE           5
ORANGE GREEN BLUE           5
RED YELLOW GREEN BLUE       4
RED ORANGE YELLOW           4
RED YELLOW BLUE             3
RED ORANGE GREEN            3
RED ORANGE BLUE             3
RED ORANGE YELLOW BLUE      1
ORANGE YELLOW GREEN         1
ORANGE YELLOW BLUE          1
Name: count, dtype: int64

In [30]:
(ufo['Colors Reported'].str.count(' ') + 1).value_counts()

Colors Reported
1.0    2458
2.0     352
3.0      67
4.0       5
Name: count, dtype: int64

# 6. Convert one set of values to another

In [31]:
titanic.Sex.head()

0      male
1    female
2    female
3    female
4      male
Name: Sex, dtype: object

In [ ]:
titanic['Sex']