In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import time as tm
import multiprocessing as mp

In [2]:
vehicle_sales_path = r'F:\DataSpell\Pandas_training\data_sets\car_prices.csv'
vehicle_sales = pd.read_csv(vehicle_sales_path, parse_dates=['year']).dropna(how='all')

In [3]:
# for col in vehicle_sales.select_dtypes(include=['int', 'float']).columns:
#   if vehicle_sales[col].dtype.kind == 'i':
#     vehicle_sales[col] = pd.to_numeric(vehicle_sales[col], downcast='integer')
#   else:
#     vehicle_sales[col] = pd.to_numeric(vehicle_sales[col], downcast='float')

vehicle_sales['state'] = vehicle_sales['state'].astype('category')
vehicle_sales['year'] = pd.to_datetime(vehicle_sales['year'], format='%Y').dt.year
vehicle_sales['make'] = vehicle_sales['make'].fillna('unknown').astype('category')
vehicle_sales['model'] = vehicle_sales['model'].fillna('unknown').astype(str)
vehicle_sales['trim'] = vehicle_sales['trim'].fillna('unknown').astype(str).str.lower()
vehicle_sales['body'] = vehicle_sales['body'].fillna('unknown').astype('category')
vehicle_sales['transmission'] = vehicle_sales['transmission'].fillna('unknown').astype('category')
vehicle_sales['vin'] = vehicle_sales['vin'].fillna('unknown')
vehicle_sales['condition'] = vehicle_sales['condition'].fillna(0)
vehicle_sales['odometer'] = vehicle_sales['odometer'].fillna(0)
vehicle_sales['color'] = vehicle_sales['color'].fillna('unknown').astype('category')
vehicle_sales['interior'] = vehicle_sales['interior'].fillna('unknown').astype('category')
vehicle_sales['mmr'] = vehicle_sales['mmr'].fillna(0)
vehicle_sales['sellingprice'] = vehicle_sales['sellingprice'].fillna(0)

# vehicle_sales['sellingprice'].apply(lambda number: number.is_integer())

In [4]:
# # Define a function to parse datetime strings and convert to Lithuania time
# def convert_to_lithuania_time(dt_str):
#     try:
#         # Parse the datetime string and convert to Lithuania time
#         dt = pd.to_datetime(dt_str).tz_convert('Europe/Vilnius')
#     except Exception:
#         # If parsing fails, return NaT
#         dt = pd.NaT
#     return dt
# 
# # Apply the function to the 'saledate' column
# vehicle_sales['saledate'] = vehicle_sales['saledate'].apply(convert_to_lithuania_time)
# 
# # Replace NaT values with a specific date (e.g., '1900-01-01')
# vehicle_sales['saledate'] = vehicle_sales['saledate'].fillna(pd.Timestamp('1900-01-01', tz='Europe/Vilnius'))
# 
# # Check the data type of the 'saledate' column
# vehicle_sales['saledate'].dtypes

In [5]:
vehicle_sales

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,lx,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,lx,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i sulev,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,t5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,luxury,Sedan,unknown,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,power wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xdrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 s,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,xlt,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [6]:
vehicle_sales.nunique()

year                34
make                97
model              974
trim              1889
body                88
transmission         5
vin             550298
state               64
condition           42
odometer        172279
color               47
interior            18
seller           14263
mmr               1102
sellingprice      1888
saledate          3766
dtype: int64

In [7]:
# Get the current time
start_time = tm.time()

# Load your script here
vehicle_sales = pd.read_csv(vehicle_sales_path)

# Get the current time again
end_time = tm.time()

# Calculate the time it took to load your script
load_time = end_time - start_time

print(f"The script took {load_time} seconds to load.") # 1.0112128257751465 seconds

The script took 1.6380491256713867 seconds to load.

In [8]:
vehicle_sales.info() # 68.2+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493485 non-null  object
 6   vin           558833 non-null  object
 7   state         558837 non-null  object
 8   condition     547017 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558088 non-null  object
 11  interior      558088 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558799 non-null  float64
 14  sellingprice  558825 non-null  float64
 15  saledate      558825 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 68.2+ MB

In [9]:
vehicle_sales.dtypes

year              int64
make             object
model            object
trim             object
body             object
transmission     object
vin              object
state            object
condition       float64
odometer        float64
color            object
interior         object
seller           object
mmr             float64
sellingprice    float64
saledate         object
dtype: object

# Upper is data cleaning handling to reduce memory usage and data types

In [10]:
vehicle_sales

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [11]:
vehicle_sales.groupby(['make', 'trim', 'year'], observed=True)['sellingprice'].agg(
  ['sum', 'count']
)

                             sum  count
make  trim        year
Acura 2.2         1997    1725.0      2
      2.2 Premium 1997    3350.0      7
      2.3         1999    3800.0      4
      2.3 Premium 1998    1900.0      1
      2.5         1998    4550.0      4
...                          ...    ...
vw    se          2013   19400.0      1
                  2014  103600.0      5
      se w/nav    2013   20600.0      1
      se w/rse    2013   40200.0      2
      sel prm     2014   49600.0      2

[7986 rows x 2 columns]

In [12]:
# Filter out rows where 'make' is 'unknown'
filtered_vehicle_sales = vehicle_sales[vehicle_sales['make'] != 'unknown']

# Create the pivot table on the filtered data
pivot_table = filtered_vehicle_sales.pivot_table(columns='make', index='year', values='sellingprice',
                                                 aggfunc='sum', observed=True, margins=True, margins_name='Total').dropna(how='all')
pivot_table

make,Acura,Aston Martin,Audi,BMW,Bentley,Buick,Cadillac,Chevrolet,Chrysler,Daewoo,...,plymouth,pontiac,porsche,smart,subaru,suzuki,toyota,volkswagen,vw,Total
year,,,,,,,,,,,,,,,,,,,,,
1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.100000e+03
1985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.750000e+03
1986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+04
1987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000e+02
1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1075.0,NaN,NaN,1.177500e+04
1990,NaN,NaN,NaN,NaN,NaN,NaN,325.0,40400.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.530000e+04
1991,NaN,NaN,NaN,6750.0,NaN,500.0,2250.0,11200.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1725.0,NaN,NaN,6.012500e+04
1992,NaN,NaN,NaN,450.0,NaN,4750.0,2250.0,17075.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.158500e+05
1993,1150.0,NaN,NaN,NaN,NaN,825.0,6650.0,13100.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.313000e+05
1994,7050.0,NaN,NaN,14875.0,NaN,5200.0,7850.0,26600.0,1150.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,300.0,NaN,NaN,2.991250e+05
1995,3925.0,NaN,NaN,16050.0,NaN,24450.0,16225.0,63775.0,2000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,500.0,NaN,NaN,5.694510e+05
1996,10600.0,NaN,300.0,23725.0,NaN,7700.0,13600.0,62250.0,4800.0,NaN,...,NaN,NaN,NaN,NaN,1900.0,NaN,NaN,NaN,NaN,6.856250e+05
1997,30075.0,NaN,3150.0,110950.0,NaN,42150.0,41075.0,70350.0,4325.0,NaN,...,800.0,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.461200e+06
1998,33950.0,NaN,16500.0,122725.0,NaN,44575.0,40800.0,148000.0,7925.0,NaN,...,1525.0,2100.0,NaN,NaN,2750.0,NaN,4650.0,NaN,NaN,2.373135e+06
1999,89975.0,NaN,24200.0,202450.0,NaN,71000.0,81400.0,448075.0,45350.0,NaN,...,700.0,700.0,29050.0,NaN,1750.0,NaN,8850.0,NaN,1500.0,4.507570e+06
2000,124350.0,NaN,53225.0,523725.0,NaN,141675.0,170300.0,819275.0,63800.0,NaN,...,1900.0,850.0,NaN,NaN,3225.0,NaN,38625.0,NaN,3000.0,7.932464e+06
2001,295450.0,NaN,238075.0,981550.0,NaN,116875.0,133950.0,1719775.0,225300.0,1200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.370720e+07
2002,495475.0,NaN,284650.0,1450300.0,NaN,356175.0,470995.0,3338700.0,168250.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2500.0,NaN,2150.0,2.516363e+07
2003,984050.0,NaN,607050.0,2125150.0,NaN,367325.0,1025760.0,4770075.0,268425.0,NaN,...,NaN,NaN,47250.0,NaN,45800.0,NaN,1400.0,18900.0,1900.0,4.298442e+07
2004,1748100.0,NaN,1059675.0,4055125.0,101700.0,542925.0,1540775.0,8006300.0,655425.0,NaN,...,NaN,NaN,63750.0,NaN,38800.0,NaN,NaN,NaN,NaN,7.044808e+07
2005,2189600.0,NaN,1466675.0,4570250.0,849900.0,1104350.0,2710345.0,12715450.0,3122725.0,NaN,...,NaN,2400.0,NaN,2000.0,33500.0,NaN,NaN,34100.0,NaN,9.886272e+07
2006,2986300.0,132000.0,2062950.0,12201450.0,1174000.0,1386175.0,3747600.0,14030434.0,5161525.0,NaN,...,NaN,400.0,246650.0,NaN,42100.0,NaN,NaN,2600.0,NaN,1.540788e+08
2007,4342200.0,653800.0,4453900.0,16067645.0,1624450.0,1528310.0,11573950.0,32513100.0,6152630.0,NaN,...,NaN,17700.0,NaN,NaN,52800.0,1800.0,557190.0,3800.0,NaN,2.350724e+08
2008,4145000.0,273000.0,5845300.0,22568809.0,876350.0,4179950.0,9093120.0,34792200.0,7629820.0,NaN,...,NaN,7900.0,96500.0,182250.0,NaN,4550.0,NaN,NaN,NaN,2.960864e+08
2009,3386250.0,114000.0,6790825.0,14403900.0,329500.0,2241050.0,6453775.0,28560430.0,3378410.0,NaN,...,NaN,26850.0,104550.0,179400.0,NaN,NaN,NaN,8600.0,NaN,2.135190e+08
2010,4208650.0,NaN,6164950.0,11797050.0,197000.0,3842800.0,7769490.0,40166071.0,6150065.0,NaN,...,NaN,26400.0,NaN,44400.0,NaN,NaN,NaN,6000.0,NaN,3.235963e+08
2011,5824850.0,197500.0,9893650.0,59856550.0,340500.0,6808128.0,17314399.0,68791486.0,6475900.0,NaN,...,NaN,NaN,NaN,78600.0,NaN,NaN,80400.0,6900.0,56800.0,7.655271e+08
2012,38498350.0,NaN,33549450.0,131153300.0,1331000.0,10268401.0,22471705.0,96361360.0,18128432.0,NaN,...,NaN,NaN,NaN,961000.0,NaN,17700.0,NaN,NaN,NaN,1.683337e+09
2013,6789150.0,NaN,21947650.0,60745350.0,1494250.0,8434811.0,15598209.0,156170058.0,40298015.0,NaN,...,NaN,NaN,NaN,822250.0,NaN,NaN,NaN,21400.0,80200.0,1.714441e+09
2014,5835900.0,NaN,18699250.0,73003809.0,308000.0,10337300.0,10556223.0,171767385.0,86635744.0,NaN,...,NaN,NaN,NaN,172400.0,NaN,NaN,NaN,45200.0,182600.0,1.618341e+09
2015,685500.0,NaN,3722250.0,28252700.0,NaN,2898650.0,3604850.0,45580475.0,8323050.0,NaN,...,NaN,NaN,NaN,27500.0,NaN,NaN,NaN,NaN,NaN,2.406120e+08
Total,82715900.0,1370300.0,116883675.0,444254638.0,8626650.0,54756050.0,114447871.0,721003399.0,192903066.0,1200.0,...,4925.0,87300.0,587750.0,2469800.0,222625.0,24050.0,697215.0,147500.0,328150.0,7.514011e+09

In [13]:
vehicle_sales_sell_price_quartiles = pd.qcut(vehicle_sales['sellingprice'], q=4, labels=['Q1', 'Q2', 'Q3', 'Q4'])
vehicle_sales.insert(15, 'Sell price quartiles', vehicle_sales_sell_price_quartiles)

In [14]:
highest_quartile_vehicles = vehicle_sales[vehicle_sales['Sell price quartiles'] == 'Q4']
vehicle_sales

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,Sell price quartiles,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Q4,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Q4,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Q4,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Q4,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Q4,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Q4,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Q4,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Q4,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Q2,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Q4,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [15]:
vehicle_sales['sellingprice'].idxmax()

344905

In [16]:
cross_tab = pd.crosstab(vehicle_sales['make'], vehicle_sales['body'], margins=True, margins_name='Total')
cross_tab

body,Access Cab,Beetle Convertible,CTS Coupe,CTS Wagon,CTS-V Coupe,CTS-V Wagon,Cab Plus,Cab Plus 4,Club Cab,Convertible,...,sedan,supercab,supercrew,suv,transit van,tsx sport wagon,van,wagon,xtracab,Total
make,,,,,,,,,,,,,,,,,,,,,
Acura,0,0,0,0,0,0,0,0,0,0,...,564,0,0,384,0,8,0,0,0,5901
Aston Martin,0,0,0,0,0,0,0,0,0,9,...,0,0,0,0,0,0,0,0,0,25
Audi,0,0,0,0,0,0,0,0,0,338,...,736,0,0,279,0,0,0,74,0,5869
BMW,0,0,0,0,0,0,0,0,0,1767,...,2210,0,0,885,0,0,0,27,0,20719
Bentley,0,0,0,0,0,0,0,0,0,25,...,6,0,0,0,0,0,0,0,0,116
Buick,0,0,0,0,0,0,0,0,0,0,...,618,0,0,246,0,0,0,0,0,5107
Cadillac,0,0,129,13,28,1,0,0,0,22,...,560,0,0,526,0,0,0,0,0,7519
Chevrolet,0,0,0,0,0,0,0,0,0,611,...,4012,0,0,2397,0,0,157,154,0,60179
Chrysler,0,0,0,0,0,0,0,0,0,621,...,1500,0,0,31,0,0,0,187,0,17276
Daewoo,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
Dodge,0,0,0,0,0,0,0,0,156,6,...,1878,0,0,851,0,0,10,235,0,30710
FIAT,0,0,0,0,0,0,0,0,0,58,...,0,0,0,0,0,0,0,34,0,865
Ferrari,0,0,0,0,0,0,0,0,0,10,...,0,0,0,0,0,0,0,0,0,19
Fisker,0,0,0,0,0,0,0,0,0,0,...,3,0,0,0,0,0,0,0,0,9
Ford,0,0,0,0,0,0,0,0,0,1880,...,4304,862,1610,4287,7,0,242,301,0,93554
GMC,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1154,0,0,136,0,0,10613
Geo,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,19
HUMMER,0,0,0,0,0,0,0,0,0,0,...,0,0,0,137,0,0,0,0,0,805
Honda,0,0,0,0,0,0,0,0,0,28,...,2237,0,0,970,0,0,0,0,0,27203
Hyundai,0,0,0,0,0,0,0,0,0,0,...,2947,0,0,523,0,0,0,1,0,21816
Infiniti,0,0,0,0,0,0,0,0,0,11,...,453,0,0,456,0,0,0,0,0,15305
Isuzu,0,0,0,0,0,0,0,0,0,0,...,0,0,0,27,0,0,0,0,0,204
Jaguar,0,0,0,0,0,0,0,0,0,99,...,231,0,0,0,0,0,0,0,0,1420
Jeep,0,0,0,0,0,0,0,0,0,0,...,0,0,0,2664,0,0,0,0,0,15372
Kia,0,0,0,0,0,0,0,0,0,0,...,1602,0,0,753,0,0,0,494,0,18077
Lamborghini,0,0,0,0,0,0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,4
Land Rover,0,0,0,0,0,0,0,0,0,0,...,0,0,0,424,0,0,0,0,0,1735
Lexus,0,0,0,0,0,0,0,0,0,189,...,1405,0,0,732,0,0,0,1,0,11861
Lincoln,0,0,0,0,0,0,0,0,0,0,...,520,0,0,277,0,0,0,18,0,5757
Lotus,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
MINI,0,0,0,0,0,0,0,0,0,231,...,0,0,0,0,0,0,0,109,0,3224
Maserati,0,0,0,0,0,0,0,0,0,3,...,28,0,0,0,0,0,0,0,0,133
Mazda,0,0,0,0,0,0,4,5,0,199,...,601,0,0,259,0,0,0,6,0,8362
Mercedes-Benz,0,0,0,0,0,0,0,0,0,983,...,1685,0,0,776,0,0,8,67,0,17141
Mercury,0,0,0,0,0,0,0,0,0,0,...,155,0,0,106,0,0,0,2,0,1992
Mitsubishi,0,0,0,0,0,0,0,0,0,117,...,294,0,0,235,0,0,0,0,0,4140
Nissan,0,0,0,0,0,0,0,0,0,94,...,5687,0,0,2600,0,0,17,46,0,53946
Oldsmobile,0,0,0,0,0,0,0,0,0,0,...,27,0,0,7,0,0,0,0,0,364
Plymouth,0,0,0,0,0,0,0,0,0,5,...,0,0,0,0,0,0,0,0,0,20
Pontiac,0,0,0,0,0,0,0,0,0,254,...,367,0,0,40,0,0,0,28,0,4497
Porsche,0,0,0,0,0,0,0,0,0,228,...,99,0,0,159,0,0,0,0,0,1383
Ram,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4574
Rolls-Royce,0,0,0,0,0,0,0,0,0,0,...,6,0,0,0,0,0,0,0,0,17
Saab,0,0,0,0,0,0,0,0,0,81,...,27,0,0,8,0,0,0,9,0,484
Saturn,0,0,0,0,0,0,0,0,0,38,...,165,0,0,167,0,0,0,3,0,2841
Scion,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,99,0,1687
Subaru,0,0,0,0,0,0,0,0,0,0,...,241,0,0,274,0,0,0,294,0,5043
Suzuki,0,0,0,0,0,0,0,0,0,0,...,75,0,0,65,0,0,0,4,0,1073
Tesla,0,0,0,0,0,0,0,0,0,0,...,9,0,0,0,0,0,0,0,0,23
Toyota,232,0,0,0,0,0,0,0,0,142,...,4814,0,0,1504,0,0,0,148,4,39871
Volkswagen,0,52,0,0,0,0,0,0,0,445,...,1525,0,0,181,0,0,0,86,0,12581
Volvo,0,0,0,0,0,0,0,0,0,117,...,313,0,0,168,0,0,0,72,0,3788
smart,0,0,0,0,0,0,0,0,0,38,...,0,0,0,0,0,0,0,0,0,395
Total,232,52,129,13,28,1,4,5,156,8652,...,41906,862,1610,24552,7,8,570,2499,4,545642

In [17]:
bins = [0, 10000, 20000, 30000, 40000, 50000, 60000, 70000, 80000, 90000, 100000]
labels = ['0-10k', '10-20k', '20-30k', '30-40k', '40-50k', '50-60k', '60-70k', '70-80k', '80-90k', '90-100k']

pd_cut_test = pd.cut(vehicle_sales['sellingprice'], bins=bins, labels=labels)
pd_cut_test

0         20-30k
1         20-30k
2         20-30k
3         20-30k
4         60-70k
           ...
558832    30-40k
558833    30-40k
558834    30-40k
558835    10-20k
558836    20-30k
Name: sellingprice, Length: 558837, dtype: category
Categories (10, object): ['0-10k' < '10-20k' < '20-30k' < '30-40k' ... '60-70k' < '70-80k' < '80-90k' < '90-100k']

In [18]:
rolling_test = vehicle_sales['sellingprice'].rolling(window=4, min_periods=1).sum()
rolling_test

0          21500.0
1          43000.0
2          73000.0
3         100750.0
4         146250.0
            ...
558832     76600.0
558833     97000.0
558834    120600.0
558835    108900.0
558836    102600.0
Name: sellingprice, Length: 558837, dtype: float64

In [19]:
corr_testing = vehicle_sales[['sellingprice', 'odometer', 'mmr']].corr()
corr_testing

              sellingprice  odometer       mmr
sellingprice      1.000000 -0.582393  0.983635
odometer         -0.582393  1.000000 -0.588113
mmr               0.983635 -0.588113  1.000000

In [20]:
vehicle_sales[['mmr', 'sellingprice']]
vehicle_sales

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,Sell price quartiles,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Q4,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Q4,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Q4,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Q4,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Q4,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Q4,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Q4,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Q4,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Q2,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Q4,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [21]:
vehicle_sales['mmr'].quantile(0.25)
vehicle_sales['mmr'].quantile(0.50)
vehicle_sales['mmr'].quantile(0.75)

18300.0

In [22]:
vehicle_sales['sellingprice'].ewm(span=10, min_periods=1).sum()

0          21500.000000
1          39090.909091
2          61983.471074
3          78463.749061
4         131197.612868
              ...
558832    111307.649001
558833    121869.894637
558834    133711.731976
558835    120500.507980
558836    125291.324711
Name: sellingprice, Length: 558837, dtype: float64

# Exercises

# 1. Load the dataset and display the first 10 rows.

In [23]:
car_sales = pd.read_csv(r'F:\DataSpell\Pandas_training\data_sets\car_prices.csv')
car_sales.head(10)

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
5,2015,Nissan,Altima,2.5 S,Sedan,automatic,1n4al3ap1fn326013,ca,1.0,5554.0,gray,black,enterprise vehicle exchange / tra / rental / t...,15350.0,10900.0,Tue Dec 30 2014 12:00:00 GMT-0800 (PST)
6,2014,BMW,M5,Base,Sedan,automatic,wbsfv9c51ed593089,ca,34.0,14943.0,black,black,the hertz corporation,69000.0,65000.0,Wed Dec 17 2014 12:30:00 GMT-0800 (PST)
7,2014,Chevrolet,Cruze,1LT,Sedan,automatic,1g1pc5sb2e7128460,ca,2.0,28617.0,black,black,enterprise vehicle exchange / tra / rental / t...,11900.0,9800.0,Tue Dec 16 2014 13:00:00 GMT-0800 (PST)
8,2014,Audi,A4,2.0T Premium Plus quattro,Sedan,automatic,wauffafl3en030343,ca,42.0,9557.0,white,black,audi mission viejo,32100.0,32250.0,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
9,2014,Chevrolet,Camaro,LT,Convertible,automatic,2g1fb3d37e9218789,ca,3.0,4809.0,red,black,d/m auto sales inc,26300.0,17500.0,Tue Jan 20 2015 04:00:00 GMT-0800 (PST)

# 2. Display the last 10 rows of the dataset.

In [24]:
car_sales.tail(10)

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
558827,2014,Jeep,Grand Cherokee,Laredo,SUV,automatic,1c4rjfag0ec466276,pa,42.0,25180.0,gray,black,hertz corporation/gdp,26000.0,24500.0,Tue Jul 07 2015 06:30:00 GMT-0700 (PDT)
558828,2012,Dodge,Grand Caravan,American Value Package,Minivan,automatic,2c4rdgbg1cr349287,ma,37.0,97036.0,silver,gray,ge fleet services for itself/servicer,8300.0,7800.0,Tue Jul 07 2015 06:30:00 GMT-0700 (PDT)
558829,2012,Hyundai,Elantra,Limited,Sedan,NaN,5npdh4ae7ch106397,pa,4.0,66720.0,gray,gray,champion mazda,10250.0,10400.0,Wed Jul 08 2015 07:30:00 GMT-0700 (PDT)
558830,2012,Nissan,Sentra,2.0 SR,Sedan,NaN,3n1ab6ap3cl622485,tn,26.0,35858.0,white,gray,nissan-infiniti lt,9950.0,10400.0,Wed Jul 08 2015 17:15:00 GMT-0700 (PDT)
558831,2011,BMW,5 Series,528i,Sedan,automatic,wbafr1c53bc744672,fl,39.0,66403.0,white,brown,lauderdale imports ltd bmw pembrok pines,20300.0,22800.0,Tue Jul 07 2015 06:15:00 GMT-0700 (PDT)
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

# 3. Check for any missing values in the dataset.

In [25]:
car_sales.isna().sum()
car_sales.isnull().sum()
car_sales.info()
car_sales.isnull().any()
car_sales.isnull().all()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493485 non-null  object
 6   vin           558833 non-null  object
 7   state         558837 non-null  object
 8   condition     547017 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558088 non-null  object
 11  interior      558088 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558799 non-null  float64
 14  sellingprice  558825 non-null  float64
 15  saledate      558825 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 68.2+ MB

year            False
make            False
model           False
trim            False
body            False
transmission    False
vin             False
state           False
condition       False
odometer        False
color           False
interior        False
seller          False
mmr             False
sellingprice    False
saledate        False
dtype: bool

# 4. Find the number of unique makes, models, and trims.

In [26]:
car_sales

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [27]:
car_sales['make'].unique()
car_sales['model'].unique()
car_sales['trim'].unique()
# other solution
car_sales['make'].nunique()
car_sales['model'].nunique()
car_sales['trim'].nunique()

1963

# 5. Convert the saledate column to a datetime object.

In [28]:
# %%timeit
car_sales

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [29]:
car_sales['saledate'] = pd.to_datetime(car_sales['saledate'], errors='coerce', utc=True)
car_sales['saledate'] = car_sales['saledate'].dt.tz_convert('Europe/Vilnius')
car_sales.dtypes

C:\Users\Zygim\AppData\Local\Temp\ipykernel_16556\2826395139.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  car_sales['saledate'] = pd.to_datetime(car_sales['saledate'], errors='coerce', utc=True)

year                                     int64
make                                    object
model                                   object
trim                                    object
body                                    object
transmission                            object
vin                                     object
state                                   object
condition                              float64
odometer                               float64
color                                   object
interior                                object
seller                                  object
mmr                                    float64
sellingprice                           float64
saledate        datetime64[ns, Europe/Vilnius]
dtype: object

# 6. Extract the year and month from the saledate column into separate columns.

In [30]:
# year = car_sales['saledate'].pd.Timestamp
year = car_sales['saledate'].apply(lambda y: pd.Timestamp(y).year)
month = car_sales['saledate'].apply(lambda m: pd.Timestamp(m).month)
month[month.isna()]
month

0         12.0
1         12.0
2          1.0
3          1.0
4         12.0
          ...
558832     7.0
558833     7.0
558834     7.0
558835     7.0
558836     5.0
Name: saledate, Length: 558837, dtype: float64

# 7. Filter the dataset to only include cars with an odometer reading less than 100,000 miles.

In [31]:
car_sales.query('odometer > 100_000')

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
275,2013,Hyundai,Elantra Coupe,GS,Elantra Coupe,automatic,kmhdh6ae8du017422,ca,1.0,999999.0,blue,gray,hyundai motor finance,8025.0,2500.0,2015-01-26 22:00:00+02:00
585,2013,Toyota,Tundra,Tundra,CrewMax Cab,automatic,5tfem5f11dx062107,ca,42.0,102345.0,—,gray,wheels exchange llc,18850.0,18500.0,2014-12-17 06:30:00+02:00
1007,2012,Ford,Fiesta,S,Sedan,automatic,3fadp4aj1cm132316,ca,3.0,149962.0,white,gray,enterprise fm exchange/tra/lease,3650.0,3200.0,2014-12-16 06:00:00+02:00
1038,2012,Chevrolet,Express Cargo,1500,Van,automatic,1gcsgafx9c1156776,ca,28.0,160525.0,white,gray,lease plan usa,8800.0,7800.0,2014-12-16 06:00:00+02:00
1041,2012,ford,e150,wagon v8,NaN,automatic,1fdne1bw1cdb07405,ca,38.0,102647.0,white,gray,vpsi inc,8575.0,8800.0,2014-12-17 06:30:00+02:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558785,2004,Ford,Expedition,XLT,suv,automatic,1fmru15w64la02138,fl,35.0,108286.0,white,gray,prestige leasing and sales inc,4325.0,5100.0,2015-06-23 22:30:00+03:00
558791,2012,Ford,Transit Connect,Wagon XLT,Minivan,automatic,nm0ks9bnxct078155,mn,27.0,262065.0,silver,gray,saxon fleet services,10100.0,3000.0,2015-07-07 08:00:00+03:00
558794,2007,Chrysler,PT Cruiser,Base,Wagon,automatic,3a4fy48b57t550642,nc,19.0,100881.0,silver,gray,national fleet leasing,2000.0,3000.0,2015-07-06 02:30:00+03:00
558795,2006,Cadillac,DTS,Performance,Sedan,automatic,1g6kd57916u116696,nj,24.0,108790.0,black,brown,santander consumer,4875.0,4200.0,2015-07-02 09:20:00+03:00
558809,2008,Honda,Odyssey,EX-L,Minivan,automatic,5fnrl38738b099718,fl,41.0,101773.0,silver,gray,the auto group collection inc,9275.0,10000.0,2015-07-07 02:15:00+03:00

# 8. Create a new column indicating whether the car's transmission is automatic or manual.

In [32]:
column_names = list(car_sales.columns)
column_names_index = {index: value for value, index in enumerate(column_names)}
column_names_index

{'year': 0,
 'make': 1,
 'model': 2,
 'trim': 3,
 'body': 4,
 'transmission': 5,
 'vin': 6,
 'state': 7,
 'condition': 8,
 'odometer': 9,
 'color': 10,
 'interior': 11,
 'seller': 12,
 'mmr': 13,
 'sellingprice': 14,
 'saledate': 15}

In [33]:
def car_transmission(row):
  transmission = row['transmission']
  if transmission == 'automatic':
    return 'Automatic'
  if transmission == 'manual':
    return 'Manual'
  else:
    return 'Unknown'

car_sales_transmission = car_sales.apply(car_transmission, axis=1)
# car_sales.insert(6, 'car_transmission', car_sales_transmission)
car_sales

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,2014-12-16 06:30:00+02:00
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,2014-12-16 06:30:00+02:00
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,2015-01-14 22:30:00+02:00
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,2015-01-28 22:30:00+02:00
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,2014-12-18 06:30:00+02:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,2015-07-09 03:00:00+03:00
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,2015-07-08 05:30:00+03:00
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,2015-07-08 05:30:00+03:00
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,2015-07-09 02:45:00+03:00
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,2015-05-28 01:30:00+03:00

# 9. Group the data by year and calculate the average selling price for each year.

In [35]:
year = car_sales['saledate'].dt.year
year_month = car_sales['saledate'].dt.to_period('M')
# car_sales.groupby(year)['sellingprice'].mean()
car_sales.groupby(year_month)['sellingprice'].mean()

C:\Users\Zygim\AppData\Local\Temp\ipykernel_16556\3628677806.py:2: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  year_month = car_sales['saledate'].dt.to_period('M')

saledate
2014-01    15555.946602
2014-02    10500.000000
2014-12    11293.613696
2015-01    13288.454274
2015-02    13608.249681
2015-03    13442.898819
2015-04    10168.325342
2015-05    14279.749018
2015-06    15046.379324
2015-07    16961.943033
Freq: M, Name: sellingprice, dtype: float64

# 10. Identify the top 5 most common car colors.

In [38]:
car_sales['color'].value_counts().head(5)

color
black     110970
white     106673
silver     83389
gray       82857
blue       51139
Name: count, dtype: int64

# 11. Calculate the average odometer reading by make and model.

In [43]:
car_sales.groupby(['make', 'model'])['odometer'].mean().sort_values(ascending=False)

make           model
Toyota         Paseo                     338382.000000
chrysler       300                       328980.750000
gmc            yukon                     295033.000000
Ford           Windstar Cargo            278807.750000
ford           f350                      273757.000000
                                             ...
Lexus          RC 350                      2875.000000
Mercedes-Benz  B-Class Electric Drive      2616.600000
Audi           Q3                          1404.000000
BMW            i8                          1056.111111
Cadillac       Fleetwood                      1.000000
Name: odometer, Length: 1019, dtype: float64

# 12. Find the make and model of the car with the highest selling price.

In [48]:
car_sales.groupby(['make', 'model'])['sellingprice'].max().sort_values(ascending=False)

make           model
Ford           Escape        230000.0
Ferrari        458 Italia    183000.0
Mercedes-Benz  S-Class       173000.0
Rolls-Royce    Ghost         171500.0
BMW            i8            165000.0
                               ...
Dodge          Spirit           300.0
Daewoo         Leganza          300.0
Oldsmobile     Regency          300.0
chevrolet      cavalier         300.0
Toyota         Paseo            150.0
Name: sellingprice, Length: 1019, dtype: float64

In [55]:
index_of_max_sales = car_sales['sellingprice'].idxmax()
vehicle_sales.loc[index_of_max_sales, ['make', 'model']]

make       Ford
model    Escape
Name: 344905, dtype: object

# 13. Filter the dataset to include only cars from states with more than 50 listings in the dataset.

In [64]:
states_count = car_sales['state'].value_counts() 
states_over_50 = states_count[states_count > 50].index
car_sales[car_sales['state'].isin(states_over_50)]

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,2014-12-16 06:30:00+02:00
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,2014-12-16 06:30:00+02:00
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,2015-01-14 22:30:00+02:00
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,2015-01-28 22:30:00+02:00
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,2014-12-18 06:30:00+02:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,2015-07-09 03:00:00+03:00
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,2015-07-08 05:30:00+03:00
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,2015-07-08 05:30:00+03:00
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,2015-07-09 02:45:00+03:00
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,2015-05-28 01:30:00+03:00

# 14. Create a pivot table showing the average selling price of cars by make and body type.

In [72]:
car_sales.pivot_table(index='make', 
                      columns='body', 
                      values='sellingprice', 
                      aggfunc='mean',
                      margins=True,
                      margins_name='Average Total'
                      )

body,Access Cab,Beetle Convertible,CTS Coupe,CTS Wagon,CTS-V Coupe,CTS-V Wagon,Cab Plus,Cab Plus 4,Club Cab,Convertible,...,sedan,supercab,supercrew,suv,transit van,tsx sport wagon,van,wagon,xtracab,Average Total
make,,,,,,,,,,,,,,,,,,,,,
Acura,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12139.494681,NaN,NaN,18738.020833,NaN,18118.75,NaN,NaN,NaN,14017.268260
Aston Martin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51333.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54812.000000
Audi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13455.177515,...,20981.861413,NaN,NaN,28400.537634,NaN,NaN,NaN,13568.243243,NaN,19915.432782
BMW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24239.756084,...,21180.542986,NaN,NaN,24675.112994,NaN,NaN,NaN,22359.259259,NaN,21441.895748
Bentley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94400.000000,...,74583.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74367.672414
Buick,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10159.509709,NaN,NaN,15091.878049,NaN,NaN,NaN,NaN,NaN,10721.764245
Cadillac,NaN,NaN,22758.527132,17811.538462,38425.75,50500.0,NaN,NaN,NaN,18293.181818,...,11095.401786,NaN,NaN,23982.794677,NaN,NaN,NaN,NaN,NaN,15221.155872
Chevrolet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24571.775777,...,8900.866650,NaN,NaN,14979.278682,NaN,NaN,11456.050955,5127.272727,NaN,11978.675269
Chrysler,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4483.896940,...,11609.484000,NaN,NaN,8667.741935,NaN,NaN,NaN,2314.705882,NaN,11167.249392
Daewoo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,400.000000
Dodge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4650.064103,36900.000000,...,10849.829073,NaN,NaN,13724.443008,NaN,NaN,9500.000000,4653.404255,NaN,11206.802592
FIAT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11827.586207,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12314.705882,NaN,10367.487861
Ferrari,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,126500.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127210.526316
Fisker,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,45800.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46461.111111
Ford,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13701.380851,...,10705.874971,13645.214617,23246.538509,15936.396548,22707.142857,NaN,14622.326446,14169.551495,NaN,14540.469648
GMC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,16747.855286,NaN,NaN,19319.117647,NaN,NaN,16951.410534
Geo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,450.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,528.947368
HUMMER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,15630.656934,NaN,NaN,NaN,NaN,NaN,15269.488199
Honda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10464.285714,...,9452.011623,NaN,NaN,14889.175258,NaN,NaN,NaN,NaN,NaN,10941.238430
Hyundai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10920.647997,NaN,NaN,11802.724665,NaN,NaN,NaN,250.000000,NaN,11010.631608
Infiniti,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18922.727273,...,16701.655629,NaN,NaN,27508.445175,NaN,NaN,NaN,NaN,NaN,20417.457694
Isuzu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1000.925926,NaN,NaN,NaN,NaN,NaN,1709.196078
Jaguar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32280.808081,...,23255.844156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19782.518310
Jeep,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,16142.207583,NaN,NaN,NaN,NaN,NaN,15000.244145
Kia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11732.011868,NaN,NaN,14195.952191,NaN,NaN,NaN,10176.370445,NaN,11808.672918
Lamborghini,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111500.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,112625.000000
Land Rover,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,35970.754717,NaN,NaN,NaN,NaN,NaN,33097.855908
Lexus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20727.513228,...,19476.583630,NaN,NaN,25018.852459,NaN,NaN,NaN,8500.000000,NaN,20286.236827
Lincoln,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16405.913462,NaN,NaN,18966.610108,NaN,NaN,NaN,23650.000000,NaN,16824.676915
Lotus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40800.000000
MINI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12448.484848,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19505.963303,NaN,12313.663151
Maserati,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16850.000000,...,42639.285714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45320.300752
Mazda,NaN,NaN,NaN,NaN,NaN,NaN,2825.0,8680.0,NaN,11598.994975,...,8301.039933,NaN,NaN,12700.193050,NaN,NaN,NaN,1250.000000,NaN,10155.641234
Mercedes-Benz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22964.854527,...,21337.819585,NaN,NaN,27013.792526,NaN,NaN,26243.750000,9888.805970,NaN,21590.566828
Mercury,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3487.096774,NaN,NaN,4516.273585,NaN,NaN,NaN,337.500000,NaN,3935.567269
Mitsubishi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3594.871795,...,7868.455782,NaN,NaN,10194.893617,NaN,NaN,NaN,NaN,NaN,8201.565942
Nissan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11923.936170,...,11034.040619,NaN,NaN,13727.415769,NaN,NaN,16823.529412,8023.913043,NaN,11739.015960
Oldsmobile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,835.185185,NaN,NaN,1282.142857,NaN,NaN,NaN,NaN,NaN,954.189560
Plymouth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20790.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9592.500000
Pontiac,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6531.397638,...,3615.190736,NaN,NaN,4703.750000,NaN,NaN,NaN,3437.500000,NaN,3755.342673
Porsche,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29899.780702,...,54918.181818,NaN,NaN,36069.811321,NaN,NaN,NaN,NaN,NaN,39965.329718
Ram,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25299.936817
Rolls-Royce,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,157416.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,153488.235294
Saab,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3925.617284,...,4157.407407,NaN,NaN,4512.500000,NaN,NaN,NaN,3733.333333,NaN,3628.099174
Saturn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8553.947368,...,2741.363636,NaN,NaN,4402.095808,NaN,NaN,NaN,925.000000,NaN,3385.427666
Scion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8040.404040,NaN,9578.808536
Subaru,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15958.506224,NaN,NaN,19251.642336,NaN,NaN,NaN,15580.612245,NaN,15383.107476
Suzuki,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3678.666667,NaN,NaN,4808.461538,NaN,NaN,NaN,1625.000000,NaN,3903.140727
Tesla,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,61361.111111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67054.347826
Toyota,13262.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5971.126761,...,11164.211674,NaN,NaN,16003.309840,NaN,NaN,NaN,13778.378378,5250.0,12249.321813
Volkswagen,NaN,18070.192308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6744.157303,...,9926.036721,NaN,NaN,14693.099448,NaN,NaN,NaN,9095.930233,NaN,9383.704316
Volvo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11890.829060,...,10021.485623,NaN,NaN,13798.214286,NaN,NaN,NaN,11057.638889,NaN,11463.952482
smart,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6115.789474,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6247.594937
Average Total,13262.5,18070.192308,22758.527132,17811.538462,38425.75,50500.0,2825.0,8680.0,4650.064103,17143.756241,...,12299.985824,13645.214617,23246.538509,17138.260590,22707.142857,18118.75,15009.742105,10551.605442,5250.0,13733.524264

# 15. Calculate the difference between the MMR (Market Market Range) and the selling price, then create a column for this difference.

In [78]:
car_sales_columns= list(car_sales.columns)
index_columns = {index: value for index, value in enumerate(car_sales_columns)}
index_columns

{0: 'year',
 1: 'make',
 2: 'model',
 3: 'trim',
 4: 'body',
 5: 'transmission',
 6: 'vin',
 7: 'state',
 8: 'condition',
 9: 'odometer',
 10: 'color',
 11: 'interior',
 12: 'seller',
 13: 'mmr',
 14: 'sellingprice',
 15: 'saledate'}

In [81]:
difference = car_sales['mmr'] - car_sales['sellingprice']
# car_sales.insert(15, "mmr sell price diff", difference)
car_sales

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,mmr sell price diff,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,-1000.0,2014-12-16 06:30:00+02:00
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,-700.0,2014-12-16 06:30:00+02:00
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,1900.0,2015-01-14 22:30:00+02:00
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,-250.0,2015-01-28 22:30:00+02:00
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,-1000.0,2014-12-18 06:30:00+02:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,2300.0,2015-07-09 03:00:00+03:00
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,-600.0,2015-07-08 05:30:00+03:00
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,-4200.0,2015-07-08 05:30:00+03:00
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,4000.0,2015-07-09 02:45:00+03:00
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,2900.0,2015-05-28 01:30:00+03:00

# 16. Identify cars with a condition rating above 4.0 and an odometer reading less than 50,000 miles.

In [88]:
car_sales.query('condition > 4 & odometer < 50_000')

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,mmr sell price diff,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,-1000.0,2014-12-16 06:30:00+02:00
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,-700.0,2014-12-16 06:30:00+02:00
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,1900.0,2015-01-14 22:30:00+02:00
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,-250.0,2015-01-28 22:30:00+02:00
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,-1000.0,2014-12-18 06:30:00+02:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558827,2014,Jeep,Grand Cherokee,Laredo,SUV,automatic,1c4rjfag0ec466276,pa,42.0,25180.0,gray,black,hertz corporation/gdp,26000.0,24500.0,1500.0,2015-07-07 02:30:00+03:00
558830,2012,Nissan,Sentra,2.0 SR,Sedan,NaN,3n1ab6ap3cl622485,tn,26.0,35858.0,white,gray,nissan-infiniti lt,9950.0,10400.0,-450.0,2015-07-08 13:15:00+03:00
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,2300.0,2015-07-09 03:00:00+03:00
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,4000.0,2015-07-09 02:45:00+03:00
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,2900.0,2015-05-28 01:30:00+03:00

# 17. Calculate the average selling price of cars for each combination of make and body type.

In [90]:
car_sales.groupby(['make', 'body'])['sellingprice'].mean()

make   body
Acura  Coupe               2008.974359
       Hatchback           8013.874346
       SUV                17121.514497
       Sedan              12854.126132
       TSX Sport Wagon    18855.357143
                              ...
Volvo  wagon              11057.638889
smart  Convertible         6115.789474
       Hatchback           6453.036437
       convertible         6755.555556
       hatchback           5749.504950
Name: sellingprice, Length: 552, dtype: float64

# 18. Determine the make and model with the highest average odometer reading.

In [97]:
odometer_max = car_sales['odometer'].idxmax()
car_odometer_max = car_sales.loc[odometer_max, ['make', 'model']]
car_odometer_max

make           Hyundai
model    Elantra Coupe
Name: 275, dtype: object

In [103]:
car_sales.groupby(['make', 'model'])['odometer'].mean().sort_values(ascending=False).idxmax()

('Toyota', 'Paseo')

# 19. Drop the vin column from the dataset.

In [105]:
drop_vin_column = car_sales.drop('vin', axis=1)
drop_vin_column

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mmr,sellingprice,mmr sell price diff,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,-1000.0,2014-12-16 06:30:00+02:00
1,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,-700.0,2014-12-16 06:30:00+02:00
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,1900.0,2015-01-14 22:30:00+02:00
3,2015,Volvo,S60,T5,Sedan,automatic,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,-250.0,2015-01-28 22:30:00+02:00
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,-1000.0,2014-12-18 06:30:00+02:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,2300.0,2015-07-09 03:00:00+03:00
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,-600.0,2015-07-08 05:30:00+03:00
558834,2012,BMW,X5,xDrive35d,SUV,automatic,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,-4200.0,2015-07-08 05:30:00+03:00
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,4000.0,2015-07-09 02:45:00+03:00
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,2900.0,2015-05-28 01:30:00+03:00

# 20. Rename the mmr column to market_market_range.

In [106]:
car_sales = car_sales.rename(columns={'mmr': 'market_market_range'})
car_sales

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,market_market_range,sellingprice,mmr sell price diff,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,-1000.0,2014-12-16 06:30:00+02:00
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,-700.0,2014-12-16 06:30:00+02:00
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,1900.0,2015-01-14 22:30:00+02:00
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,-250.0,2015-01-28 22:30:00+02:00
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,-1000.0,2014-12-18 06:30:00+02:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,2300.0,2015-07-09 03:00:00+03:00
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,-600.0,2015-07-08 05:30:00+03:00
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,-4200.0,2015-07-08 05:30:00+03:00
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,4000.0,2015-07-09 02:45:00+03:00
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,2900.0,2015-05-28 01:30:00+03:00