In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import time as tm
import multiprocessing as mp

In [17]:
vehicle_sales_path = r'F:\DataSpell\Pandas training\data_sets\car_prices.csv'
vehicle_sales = pd.read_csv(vehicle_sales_path, parse_dates=['year']).dropna(how='all')

In [34]:
for col in vehicle_sales.select_dtypes(include=['int', 'float']).columns:
  if vehicle_sales[col].dtype.kind == 'i':
    vehicle_sales[col] = pd.to_numeric(vehicle_sales[col], downcast='integer')
  else:
    vehicle_sales[col] = pd.to_numeric(vehicle_sales[col], downcast='float')

vehicle_sales['state'] = vehicle_sales['state'].astype('category')
vehicle_sales['year'] = pd.to_datetime(vehicle_sales['year'], format='%Y').dt.year
vehicle_sales['make'] = vehicle_sales['make'].fillna('unknown').astype('category')
vehicle_sales['model'] = vehicle_sales['model'].fillna('unknown').astype(str)
vehicle_sales['trim'] = vehicle_sales['trim'].fillna('unknown').astype(str).str.lower()
vehicle_sales['body'] = vehicle_sales['body'].fillna('unknown').astype('category')
vehicle_sales['transmission'] = vehicle_sales['transmission'].fillna('unknown').astype('category')
vehicle_sales['vin'] = vehicle_sales['vin'].fillna('unknown')
vehicle_sales['condition'] = vehicle_sales['condition'].fillna(0)
vehicle_sales['odometer'] = vehicle_sales['odometer'].fillna(0)
vehicle_sales['color'] = vehicle_sales['color'].fillna('unknown').astype('category')
vehicle_sales['interior'] = vehicle_sales['interior'].fillna('unknown').astype('category')
vehicle_sales['mmr'] = vehicle_sales['mmr'].fillna(0)
vehicle_sales['sellingprice'] = vehicle_sales['sellingprice'].fillna(0)

# vehicle_sales['sellingprice'].apply(lambda number: number.is_integer())

In [19]:
# # Define a function to parse datetime strings and convert to Lithuania time
# def convert_to_lithuania_time(dt_str):
#     try:
#         # Parse the datetime string and convert to Lithuania time
#         dt = pd.to_datetime(dt_str).tz_convert('Europe/Vilnius')
#     except Exception:
#         # If parsing fails, return NaT
#         dt = pd.NaT
#     return dt
# 
# # Apply the function to the 'saledate' column
# vehicle_sales['saledate'] = vehicle_sales['saledate'].apply(convert_to_lithuania_time)
# 
# # Replace NaT values with a specific date (e.g., '1900-01-01')
# vehicle_sales['saledate'] = vehicle_sales['saledate'].fillna(pd.Timestamp('1900-01-01', tz='Europe/Vilnius'))
# 
# # Check the data type of the 'saledate' column
# vehicle_sales['saledate'].dtypes

In [20]:
vehicle_sales

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015-01-01,kia,sorento,lx,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015-01-01,kia,sorento,lx,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014-01-01,bmw,3 series,328i sulev,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015-01-01,volvo,s60,t5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014-01-01,bmw,6 series gran coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015-01-01,kia,k900,luxury,Sedan,unknown,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012-01-01,ram,2500,power wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012-01-01,bmw,x5,xdrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015-01-01,nissan,altima,2.5 s,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014-01-01,ford,f-150,xlt,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [21]:
vehicle_sales.nunique()

year                34
make                67
model              852
trim              1889
body                88
transmission         5
vin             550298
state               64
condition           42
odometer        172279
color               47
interior            18
seller           14263
mmr               1102
sellingprice      1888
saledate          3766
dtype: int64

In [22]:
# Get the current time
start_time = tm.time()

# Load your script here
vehicle_sales = pd.read_csv(vehicle_sales_path)

# Get the current time again
end_time = tm.time()

# Calculate the time it took to load your script
load_time = end_time - start_time

print(f"The script took {load_time} seconds to load.") # 1.0112128257751465 seconds

The script took 1.1836650371551514 seconds to load.

In [27]:
vehicle_sales.info() # 68.2+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  datetime64[ns]
 1   make          558837 non-null  object
 2   model         558837 non-null  object
 3   trim          558837 non-null  object
 4   body          558837 non-null  category
 5   transmission  558837 non-null  category
 6   vin           558837 non-null  object
 7   state         558837 non-null  category
 8   condition     558837 non-null  float32
 9   odometer      558837 non-null  float32
 10  color         558837 non-null  object
 11  interior      558837 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558837 non-null  float32
 14  sellingprice  558837 non-null  float32
 15  saledate      558825 non-null  object
dtypes: category(3), datetime64[ns](1), float32(4), object(8)
memory usage: 48.5+ MB

In [28]:
vehicle_sales.dtypes

year            datetime64[ns]
make                    object
model                   object
trim                    object
body                  category
transmission          category
vin                     object
state                 category
condition              float32
odometer               float32
color                   object
interior                object
seller                  object
mmr                    float32
sellingprice           float32
saledate                object
dtype: object

# Upper is data cleaning handling to reduce memory usage and data types

In [35]:
vehicle_sales

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,kia,sorento,lx,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,kia,sorento,lx,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,bmw,3 series,328i sulev,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,volvo,s60,t5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,bmw,6 series gran coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,kia,k900,luxury,Sedan,unknown,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,ram,2500,power wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,bmw,x5,xdrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,nissan,altima,2.5 s,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,ford,f-150,xlt,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [46]:
vehicle_sales.groupby(['make', 'trim', 'year'], observed=True)['sellingprice'].agg(
  ['sum', 'count']
)

                             sum  count
make  trim        year
acura 2.2         1997    1725.0      2
      2.2 premium 1997    3350.0      7
      2.3         1999    3800.0      4
      2.3 premium 1998    1900.0      1
      2.5         1998    4550.0      4
...                          ...    ...
vw    se          2013   19400.0      1
                  2014  103600.0      5
      se w/nav    2013   20600.0      1
      se w/rse    2013   40200.0      2
      sel prm     2014   49600.0      2

[7985 rows x 2 columns]

In [54]:
# Filter out rows where 'make' is 'unknown'
filtered_vehicle_sales = vehicle_sales[vehicle_sales['make'] != 'unknown']

# Create the pivot table on the filtered data
pivot_table = filtered_vehicle_sales.pivot_table(columns='make', index='year', values='sellingprice',
                                                 aggfunc='sum', observed=True, margins=True, margins_name='Total').dropna(how='all')
pivot_table

make,acura,airstream,aston martin,audi,bentley,bmw,buick,cadillac,chev truck,chevrolet,...,scion,smart,subaru,suzuki,tesla,toyota,volkswagen,volvo,vw,Total
year,,,,,,,,,,,,,,,,,,,,,
1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.100000e+03
1985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7750.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.750000e+03
1986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+04
1987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000e+02
1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10100.0,...,NaN,NaN,NaN,NaN,NaN,1075.0,NaN,NaN,NaN,1.177500e+04
1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,325.0,NaN,41200.0,...,NaN,NaN,NaN,NaN,NaN,3225.0,NaN,NaN,NaN,6.530000e+04
1991,NaN,NaN,NaN,NaN,NaN,6750.0,1325.0,2250.0,NaN,11200.0,...,NaN,NaN,NaN,NaN,NaN,7775.0,NaN,NaN,NaN,6.012500e+04
1992,NaN,NaN,NaN,NaN,NaN,450.0,4750.0,2250.0,NaN,25275.0,...,NaN,NaN,NaN,NaN,NaN,19850.0,NaN,NaN,NaN,1.158500e+05
1993,1150.0,NaN,NaN,NaN,NaN,NaN,1625.0,6650.0,NaN,19600.0,...,NaN,NaN,NaN,NaN,NaN,30925.0,NaN,650.0,NaN,1.313000e+05
1994,7050.0,NaN,NaN,NaN,NaN,14875.0,5200.0,7850.0,NaN,31700.0,...,NaN,NaN,NaN,NaN,NaN,46375.0,NaN,2425.0,NaN,2.991250e+05
1995,3925.0,NaN,NaN,NaN,NaN,16050.0,24450.0,16225.0,NaN,77775.0,...,NaN,NaN,4000.0,NaN,NaN,88400.0,NaN,3250.0,NaN,5.694510e+05
1996,10600.0,NaN,NaN,300.0,NaN,23725.0,8100.0,13600.0,NaN,64100.0,...,NaN,NaN,8800.0,1000.0,NaN,128325.0,3525.0,6525.0,NaN,6.856250e+05
1997,30075.0,NaN,NaN,3150.0,NaN,110950.0,42150.0,41075.0,NaN,91150.0,...,NaN,NaN,15200.0,NaN,NaN,272300.0,4250.0,1000.0,NaN,1.461200e+06
1998,33950.0,NaN,NaN,16500.0,NaN,122725.0,44575.0,40800.0,NaN,180150.0,...,NaN,NaN,20710.0,NaN,NaN,392450.0,29925.0,45050.0,NaN,2.373135e+06
1999,89975.0,NaN,NaN,24200.0,NaN,202450.0,71000.0,81400.0,NaN,488800.0,...,NaN,NaN,25750.0,5950.0,NaN,591925.0,96050.0,27675.0,1500.0,4.507570e+06
2000,124350.0,NaN,NaN,53225.0,NaN,523725.0,141675.0,170300.0,2000.0,910175.0,...,4500.0,NaN,63075.0,8800.0,NaN,976100.0,168580.0,87700.0,3000.0,7.932464e+06
2001,295450.0,NaN,NaN,238075.0,NaN,981550.0,116875.0,133950.0,NaN,1719775.0,...,NaN,NaN,115875.0,13975.0,NaN,1372575.0,322000.0,211050.0,NaN,1.370720e+07
2002,495475.0,NaN,NaN,284650.0,NaN,1450300.0,356175.0,470995.0,NaN,3338700.0,...,NaN,NaN,242950.0,35650.0,NaN,2618350.0,532725.0,242950.0,2150.0,2.516363e+07
2003,984050.0,NaN,NaN,607050.0,NaN,2127250.0,367325.0,1025760.0,NaN,4828625.0,...,NaN,NaN,262350.0,30350.0,NaN,4177875.0,826300.0,231450.0,1900.0,4.298442e+07
2004,1755200.0,NaN,NaN,1059675.0,101700.0,4055125.0,553025.0,1612925.0,NaN,8161900.0,...,67400.0,NaN,427625.0,100925.0,NaN,6125150.0,1246650.0,1084025.0,NaN,7.044808e+07
2005,2312000.0,NaN,NaN,1479475.0,849900.0,4570250.0,1111150.0,2952745.0,NaN,12899750.0,...,238900.0,2000.0,1023930.0,115650.0,NaN,7215600.0,1342300.0,1175600.0,NaN,9.886272e+07
2006,3007700.0,NaN,132000.0,2062950.0,1174000.0,12206750.0,1396775.0,3793000.0,NaN,14608759.0,...,301200.0,NaN,1487690.0,298100.0,NaN,9897125.0,2799068.0,1044050.0,NaN,1.540788e+08
2007,4342200.0,NaN,653800.0,4453900.0,1624450.0,16149045.0,1528310.0,11613600.0,NaN,33078050.0,...,814850.0,NaN,963750.0,558575.0,NaN,16547965.0,3027020.0,1615650.0,NaN,2.350724e+08
2008,4145000.0,NaN,273000.0,5845300.0,876350.0,22786608.0,4179950.0,9214620.0,NaN,34949600.0,...,1603450.0,182250.0,1961650.0,785920.0,NaN,17477224.0,2956350.0,1790100.0,NaN,2.960864e+08
2009,3386250.0,NaN,114000.0,6790825.0,329500.0,14414300.0,2241050.0,6453775.0,NaN,28673180.0,...,5400.0,179400.0,1798000.0,227575.0,NaN,16114180.0,5278050.0,1007850.0,NaN,2.135190e+08
2010,4208650.0,NaN,NaN,6211350.0,197000.0,11797050.0,3848800.0,7788390.0,NaN,40382672.0,...,823250.0,44400.0,2329450.0,368600.0,NaN,23949630.0,5652640.0,2499850.0,NaN,3.235963e+08
2011,5824850.0,NaN,197500.0,9917450.0,340500.0,60278952.0,6808128.0,17314400.0,NaN,68812088.0,...,1042850.0,78600.0,8551599.0,406450.0,NaN,59113008.0,6536700.0,2737800.0,56800.0,7.655271e+08
2012,38498352.0,71000.0,NaN,33598752.0,1331000.0,132668776.0,10268401.0,22471704.0,NaN,96381056.0,...,4625450.0,961000.0,9335551.0,807900.0,NaN,110507744.0,35816808.0,7647002.0,NaN,1.683337e+09
2013,6789150.0,NaN,NaN,21947650.0,1494250.0,60745352.0,8434811.0,15598209.0,NaN,156170064.0,...,4149250.0,822250.0,10613401.0,446700.0,1195850.0,106394856.0,31321244.0,6029450.0,80200.0,1.714441e+09
2014,5835900.0,NaN,NaN,18699250.0,308000.0,73003808.0,10389400.0,10556223.0,NaN,171767392.0,...,2308950.0,172400.0,32756530.0,NaN,346400.0,100445104.0,18892250.0,5569600.0,182600.0,1.618341e+09
2015,685500.0,NaN,NaN,3722250.0,NaN,28252700.0,2898650.0,3604850.0,NaN,45627676.0,...,174000.0,27500.0,5791750.0,NaN,NaN,4574810.0,1351450.0,10364750.0,NaN,2.406120e+08
Total,82866800.0,71000.0,1370300.0,117015976.0,8626650.0,446509504.0,54843676.0,114987872.0,2000.0,723369920.0,...,16159450.0,2469800.0,77799632.0,4212120.0,1542250.0,489089920.0,118203888.0,43425452.0,328150.0,7.514013e+09