In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import time as tm
import multiprocessing as mp

In [19]:
vehicle_sales_path = r'F:\DataSpell\Pandas training\data_sets\car_prices.csv'
vehicle_sales = pd.read_csv(vehicle_sales_path, parse_dates=['year']).dropna(how='all')

In [81]:
# for col in vehicle_sales.select_dtypes(include=['int', 'float']).columns:
#   if vehicle_sales[col].dtype.kind == 'i':
#     vehicle_sales[col] = pd.to_numeric(vehicle_sales[col], downcast='integer')
#   else:
#     vehicle_sales[col] = pd.to_numeric(vehicle_sales[col], downcast='float')

vehicle_sales['state'] = vehicle_sales['state'].astype('category')
vehicle_sales['year'] = pd.to_datetime(vehicle_sales['year'], format='%Y').dt.year
vehicle_sales['make'] = vehicle_sales['make'].fillna('unknown').astype('category')
vehicle_sales['model'] = vehicle_sales['model'].fillna('unknown').astype(str)
vehicle_sales['trim'] = vehicle_sales['trim'].fillna('unknown').astype(str).str.lower()
vehicle_sales['body'] = vehicle_sales['body'].fillna('unknown').astype('category')
vehicle_sales['transmission'] = vehicle_sales['transmission'].fillna('unknown').astype('category')
vehicle_sales['vin'] = vehicle_sales['vin'].fillna('unknown')
vehicle_sales['condition'] = vehicle_sales['condition'].fillna(0)
vehicle_sales['odometer'] = vehicle_sales['odometer'].fillna(0)
vehicle_sales['color'] = vehicle_sales['color'].fillna('unknown').astype('category')
vehicle_sales['interior'] = vehicle_sales['interior'].fillna('unknown').astype('category')
vehicle_sales['mmr'] = vehicle_sales['mmr'].fillna(0)
vehicle_sales['sellingprice'] = vehicle_sales['sellingprice'].fillna(0)

# vehicle_sales['sellingprice'].apply(lambda number: number.is_integer())

In [6]:
# # Define a function to parse datetime strings and convert to Lithuania time
# def convert_to_lithuania_time(dt_str):
#     try:
#         # Parse the datetime string and convert to Lithuania time
#         dt = pd.to_datetime(dt_str).tz_convert('Europe/Vilnius')
#     except Exception:
#         # If parsing fails, return NaT
#         dt = pd.NaT
#     return dt
# 
# # Apply the function to the 'saledate' column
# vehicle_sales['saledate'] = vehicle_sales['saledate'].apply(convert_to_lithuania_time)
# 
# # Replace NaT values with a specific date (e.g., '1900-01-01')
# vehicle_sales['saledate'] = vehicle_sales['saledate'].fillna(pd.Timestamp('1900-01-01', tz='Europe/Vilnius'))
# 
# # Check the data type of the 'saledate' column
# vehicle_sales['saledate'].dtypes

In [7]:
vehicle_sales

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,lx,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,lx,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i sulev,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,t5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,luxury,Sedan,unknown,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,power wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xdrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 s,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,xlt,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [8]:
vehicle_sales.nunique()

year                34
make                97
model              974
trim              1889
body                88
transmission         5
vin             550298
state               64
condition           42
odometer        172279
color               47
interior            18
seller           14263
mmr               1102
sellingprice      1888
saledate          3766
dtype: int64

In [9]:
# Get the current time
start_time = tm.time()

# Load your script here
vehicle_sales = pd.read_csv(vehicle_sales_path)

# Get the current time again
end_time = tm.time()

# Calculate the time it took to load your script
load_time = end_time - start_time

print(f"The script took {load_time} seconds to load.") # 1.0112128257751465 seconds

The script took 1.0782597064971924 seconds to load.

In [10]:
vehicle_sales.info() # 68.2+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493485 non-null  object
 6   vin           558833 non-null  object
 7   state         558837 non-null  object
 8   condition     547017 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558088 non-null  object
 11  interior      558088 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558799 non-null  float64
 14  sellingprice  558825 non-null  float64
 15  saledate      558825 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 68.2+ MB

In [11]:
vehicle_sales.dtypes

year              int64
make             object
model            object
trim             object
body             object
transmission     object
vin              object
state            object
condition       float64
odometer        float64
color            object
interior         object
seller           object
mmr             float64
sellingprice    float64
saledate         object
dtype: object

# Upper is data cleaning handling to reduce memory usage and data types

In [12]:
vehicle_sales

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [13]:
vehicle_sales.groupby(['make', 'trim', 'year'], observed=True)['sellingprice'].agg(
  ['sum', 'count']
)

                             sum  count
make  trim        year
Acura 2.2         1997    1725.0      2
      2.2 Premium 1997    3350.0      7
      2.3         1999    3800.0      4
      2.3 Premium 1998    1900.0      1
      2.5         1998    4550.0      4
...                          ...    ...
vw    se          2013   19400.0      1
                  2014  103600.0      5
      se w/nav    2013   20600.0      1
      se w/rse    2013   40200.0      2
      sel prm     2014   49600.0      2

[7986 rows x 2 columns]

In [14]:
# Filter out rows where 'make' is 'unknown'
filtered_vehicle_sales = vehicle_sales[vehicle_sales['make'] != 'unknown']

# Create the pivot table on the filtered data
pivot_table = filtered_vehicle_sales.pivot_table(columns='make', index='year', values='sellingprice',
                                                 aggfunc='sum', observed=True, margins=True, margins_name='Total').dropna(how='all')
pivot_table

make,Acura,Aston Martin,Audi,BMW,Bentley,Buick,Cadillac,Chevrolet,Chrysler,Daewoo,...,plymouth,pontiac,porsche,smart,subaru,suzuki,toyota,volkswagen,vw,Total
year,,,,,,,,,,,,,,,,,,,,,
1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.100000e+03
1985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.750000e+03
1986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+04
1987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000e+02
1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1075.0,NaN,NaN,1.177500e+04
1990,NaN,NaN,NaN,NaN,NaN,NaN,325.0,40400.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.530000e+04
1991,NaN,NaN,NaN,6750.0,NaN,500.0,2250.0,11200.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1725.0,NaN,NaN,6.012500e+04
1992,NaN,NaN,NaN,450.0,NaN,4750.0,2250.0,17075.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.158500e+05
1993,1150.0,NaN,NaN,NaN,NaN,825.0,6650.0,13100.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.313000e+05
1994,7050.0,NaN,NaN,14875.0,NaN,5200.0,7850.0,26600.0,1150.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,300.0,NaN,NaN,2.991250e+05
1995,3925.0,NaN,NaN,16050.0,NaN,24450.0,16225.0,63775.0,2000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,500.0,NaN,NaN,5.694510e+05
1996,10600.0,NaN,300.0,23725.0,NaN,7700.0,13600.0,62250.0,4800.0,NaN,...,NaN,NaN,NaN,NaN,1900.0,NaN,NaN,NaN,NaN,6.856250e+05
1997,30075.0,NaN,3150.0,110950.0,NaN,42150.0,41075.0,70350.0,4325.0,NaN,...,800.0,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.461200e+06
1998,33950.0,NaN,16500.0,122725.0,NaN,44575.0,40800.0,148000.0,7925.0,NaN,...,1525.0,2100.0,NaN,NaN,2750.0,NaN,4650.0,NaN,NaN,2.373135e+06
1999,89975.0,NaN,24200.0,202450.0,NaN,71000.0,81400.0,448075.0,45350.0,NaN,...,700.0,700.0,29050.0,NaN,1750.0,NaN,8850.0,NaN,1500.0,4.507570e+06
2000,124350.0,NaN,53225.0,523725.0,NaN,141675.0,170300.0,819275.0,63800.0,NaN,...,1900.0,850.0,NaN,NaN,3225.0,NaN,38625.0,NaN,3000.0,7.932464e+06
2001,295450.0,NaN,238075.0,981550.0,NaN,116875.0,133950.0,1719775.0,225300.0,1200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.370720e+07
2002,495475.0,NaN,284650.0,1450300.0,NaN,356175.0,470995.0,3338700.0,168250.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2500.0,NaN,2150.0,2.516363e+07
2003,984050.0,NaN,607050.0,2125150.0,NaN,367325.0,1025760.0,4770075.0,268425.0,NaN,...,NaN,NaN,47250.0,NaN,45800.0,NaN,1400.0,18900.0,1900.0,4.298442e+07
2004,1748100.0,NaN,1059675.0,4055125.0,101700.0,542925.0,1540775.0,8006300.0,655425.0,NaN,...,NaN,NaN,63750.0,NaN,38800.0,NaN,NaN,NaN,NaN,7.044808e+07
2005,2189600.0,NaN,1466675.0,4570250.0,849900.0,1104350.0,2710345.0,12715450.0,3122725.0,NaN,...,NaN,2400.0,NaN,2000.0,33500.0,NaN,NaN,34100.0,NaN,9.886272e+07
2006,2986300.0,132000.0,2062950.0,12201450.0,1174000.0,1386175.0,3747600.0,14030434.0,5161525.0,NaN,...,NaN,400.0,246650.0,NaN,42100.0,NaN,NaN,2600.0,NaN,1.540788e+08
2007,4342200.0,653800.0,4453900.0,16067645.0,1624450.0,1528310.0,11573950.0,32513100.0,6152630.0,NaN,...,NaN,17700.0,NaN,NaN,52800.0,1800.0,557190.0,3800.0,NaN,2.350724e+08
2008,4145000.0,273000.0,5845300.0,22568809.0,876350.0,4179950.0,9093120.0,34792200.0,7629820.0,NaN,...,NaN,7900.0,96500.0,182250.0,NaN,4550.0,NaN,NaN,NaN,2.960864e+08
2009,3386250.0,114000.0,6790825.0,14403900.0,329500.0,2241050.0,6453775.0,28560430.0,3378410.0,NaN,...,NaN,26850.0,104550.0,179400.0,NaN,NaN,NaN,8600.0,NaN,2.135190e+08
2010,4208650.0,NaN,6164950.0,11797050.0,197000.0,3842800.0,7769490.0,40166071.0,6150065.0,NaN,...,NaN,26400.0,NaN,44400.0,NaN,NaN,NaN,6000.0,NaN,3.235963e+08
2011,5824850.0,197500.0,9893650.0,59856550.0,340500.0,6808128.0,17314399.0,68791486.0,6475900.0,NaN,...,NaN,NaN,NaN,78600.0,NaN,NaN,80400.0,6900.0,56800.0,7.655271e+08
2012,38498350.0,NaN,33549450.0,131153300.0,1331000.0,10268401.0,22471705.0,96361360.0,18128432.0,NaN,...,NaN,NaN,NaN,961000.0,NaN,17700.0,NaN,NaN,NaN,1.683337e+09
2013,6789150.0,NaN,21947650.0,60745350.0,1494250.0,8434811.0,15598209.0,156170058.0,40298015.0,NaN,...,NaN,NaN,NaN,822250.0,NaN,NaN,NaN,21400.0,80200.0,1.714441e+09
2014,5835900.0,NaN,18699250.0,73003809.0,308000.0,10337300.0,10556223.0,171767385.0,86635744.0,NaN,...,NaN,NaN,NaN,172400.0,NaN,NaN,NaN,45200.0,182600.0,1.618341e+09
2015,685500.0,NaN,3722250.0,28252700.0,NaN,2898650.0,3604850.0,45580475.0,8323050.0,NaN,...,NaN,NaN,NaN,27500.0,NaN,NaN,NaN,NaN,NaN,2.406120e+08
Total,82715900.0,1370300.0,116883675.0,444254638.0,8626650.0,54756050.0,114447871.0,721003399.0,192903066.0,1200.0,...,4925.0,87300.0,587750.0,2469800.0,222625.0,24050.0,697215.0,147500.0,328150.0,7.514011e+09

In [22]:
vehicle_sales_sell_price_quartiles = pd.qcut(vehicle_sales['sellingprice'], q=4, labels=['Q1', 'Q2', 'Q3', 'Q4'])
vehicle_sales.insert(15, 'Sell price quartiles', vehicle_sales_sell_price_quartiles)

In [31]:
highest_quartile_vehicles = vehicle_sales[vehicle_sales['Sell price quartiles'] == 'Q4']
vehicle_sales

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,Sell price quartiles,saledate
0,2015,Kia,Sorento,lx,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Q4,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,lx,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Q4,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i sulev,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Q4,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,t5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Q4,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Q4,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,luxury,Sedan,unknown,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Q4,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,power wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Q4,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xdrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Q4,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 s,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Q2,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,xlt,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Q4,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [36]:
vehicle_sales['sellingprice'].idxmax()

344905

In [40]:
cross_tab = pd.crosstab(vehicle_sales['make'], vehicle_sales['body'], margins=True, margins_name='Total')
cross_tab

body,Access Cab,Beetle Convertible,CTS Coupe,CTS Wagon,CTS-V Coupe,CTS-V Wagon,Cab Plus,Cab Plus 4,Club Cab,Convertible,...,supercab,supercrew,suv,transit van,tsx sport wagon,unknown,van,wagon,xtracab,Total
make,,,,,,,,,,,,,,,,,,,,,
Acura,0,0,0,0,0,0,0,0,0,0,...,0,0,384,0,8,0,0,0,0,5901
Aston Martin,0,0,0,0,0,0,0,0,0,9,...,0,0,0,0,0,0,0,0,0,25
Audi,0,0,0,0,0,0,0,0,0,338,...,0,0,279,0,0,0,0,74,0,5869
BMW,0,0,0,0,0,0,0,0,0,1767,...,0,0,885,0,0,0,0,27,0,20719
Bentley,0,0,0,0,0,0,0,0,0,25,...,0,0,0,0,0,0,0,0,0,116
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
toyota,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,95,0,0,0,95
unknown,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,10301,0,0,0,10301
volkswagen,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,24,0,0,0,24
vw,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,24,0,0,0,24
Total,232,52,129,13,28,1,4,5,156,8652,...,862,1610,24552,7,8,13195,570,2499,4,558837

In [42]:
bins = [0, 10000, 20000, 30000, 40000, 50000, 60000, 70000, 80000, 90000, 100000]
labels = ['0-10k', '10-20k', '20-30k', '30-40k', '40-50k', '50-60k', '60-70k', '70-80k', '80-90k', '90-100k']

pd_cut_test = pd.cut(vehicle_sales['sellingprice'], bins=bins, labels=labels)
pd_cut_test

0         20-30k
1         20-30k
2         20-30k
3         20-30k
4         60-70k
           ...
558832    30-40k
558833    30-40k
558834    30-40k
558835    10-20k
558836    20-30k
Name: sellingprice, Length: 558837, dtype: category
Categories (10, object): ['0-10k' < '10-20k' < '20-30k' < '30-40k' ... '60-70k' < '70-80k' < '80-90k' < '90-100k']

In [55]:
rolling_test = vehicle_sales['sellingprice'].rolling(window=4, min_periods=1).sum()
rolling_test

0          21500.0
1          43000.0
2          73000.0
3         100750.0
4         146250.0
            ...
558832     76600.0
558833     97000.0
558834    120600.0
558835    108900.0
558836    102600.0
Name: sellingprice, Length: 558837, dtype: float64

In [59]:
corr_testing = vehicle_sales[['sellingprice', 'odometer', 'mmr']].corr()
corr_testing

              sellingprice  odometer       mmr
sellingprice      1.000000 -0.582005  0.983589
odometer         -0.582005  1.000000 -0.587603
mmr               0.983589 -0.587603  1.000000

In [64]:
vehicle_sales[['mmr', 'sellingprice']]
vehicle_sales

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,Sell price quartiles,saledate
0,2015,Kia,Sorento,lx,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Q4,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,lx,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Q4,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i sulev,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Q4,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,t5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Q4,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Q4,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,luxury,Sedan,unknown,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Q4,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,power wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Q4,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xdrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Q4,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 s,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Q2,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,xlt,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Q4,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [69]:
vehicle_sales['mmr'].quantile(0.25)
vehicle_sales['mmr'].quantile(0.50)
vehicle_sales['mmr'].quantile(0.75)

18300.0

In [72]:
vehicle_sales['sellingprice'].ewm(span=10, min_periods=1).sum()

0          21500.000000
1          39090.909091
2          61983.471074
3          78463.749061
4         131197.612868
              ...
558832    111307.649001
558833    121869.894637
558834    133711.731976
558835    120500.507980
558836    125291.324711
Name: sellingprice, Length: 558837, dtype: float64

C:\Users\Administrator\AppData\Local\Temp\ipykernel_35804\8068339.py:6: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  resampled_sales = vehicle_sales.resample('M', on='year').apply(lambda x: x.select_dtypes(include=['number']).sum())

In [86]:
vehicle_sales.dtypes

year                    datetime64[ns]
make                          category
model                           object
trim                            object
body                          category
transmission                  category
vin                             object
state                         category
condition                      float32
odometer                       float32
color                         category
interior                      category
seller                          object
mmr                            float32
sellingprice                   float32
Sell price quartiles          category
saledate                        object
dtype: object