https://www.youtube.com/watch?v=iaZQF8SLHJs&list=PLxhYs0VkONL9h5zHZXNntPqLC1JVg9pxX&index=61

In [29]:
import pandas as pd

In [30]:
url = r'https://www.espncricinfo.com/records/highest-career-batting-average-282910'
df = pd.read_html(url)
df = df[0]

In [43]:
df = df.rename(columns = {
  'Mat': 'Matches',
  'NO': 'Not_Outs',
  'HS': 'Highest_Inns_Score', 
  'BF': 'Balls_Faced', 
  'SR': 'Batting_Strike_Rate'
})

In [44]:
df.isnull().any()

Player                 False
Span                   False
Matches                False
Inns                   False
Not_Outs               False
Runs                   False
Highest_Inns_Score     False
Ave                    False
Balls_Faced            False
Batting_Strike_Rate    False
100                    False
50                     False
0                      False
4s                     False
6s                     False
dtype: bool

In [48]:
df[df['Balls_Faced'].isna() == 1]
# 10.25 finished

Empty DataFrame
Columns: [Player, Span, Matches, Inns, Not_Outs, Runs, Highest_Inns_Score, Ave, Balls_Faced, Batting_Strike_Rate, 100, 50, 0, 4s, 6s]
Index: []