https://www.youtube.com/watch?v=iaZQF8SLHJs&list=PLxhYs0VkONL9h5zHZXNntPqLC1JVg9pxX&index=61

In [1]:
import pandas as pd
import datetime as dt
from string import punctuation

In [2]:
url = r'https://www.espncricinfo.com/records/highest-career-batting-average-282910'
df = pd.read_html(url)
df = df[0]

In [3]:
df = df.rename(columns = {
  'Mat': 'Matches',
  'NO': 'Not_Outs',
  'HS': 'Highest_Inns_Score', 
  'BF': 'Balls_Faced', 
  'SR': 'Batting_Strike_Rate'
})

In [4]:
df.isnull().any()

Player                 False
Span                   False
Matches                False
Inns                   False
Not_Outs               False
Runs                   False
Highest_Inns_Score     False
Ave                    False
Balls_Faced            False
Batting_Strike_Rate    False
100                    False
50                     False
0                      False
4s                     False
6s                     False
dtype: bool

In [5]:
df[df['Balls_Faced'].isna() == 1]
# 10.25 finished

Empty DataFrame
Columns: [Player, Span, Matches, Inns, Not_Outs, Runs, Highest_Inns_Score, Ave, Balls_Faced, Batting_Strike_Rate, 100, 50, 0, 4s, 6s]
Index: []

In [6]:
df[df['Player'] == 'ED Weekes (WI)']

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,-,0.0,15,19,6,258+,2

In [7]:
# drop duplicates
# df[df.duplicated()]
df[df['Player'].duplicated() == 0]

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0

In [8]:
df[df['Player'].isin(['GA Headley (WI)', 'GS Sobers (WI)', 'ED Weekes (WI)'])]

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1
8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,-,0.00,15,19,6,258+,2
10,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593+,32+

In [9]:
df = df.drop_duplicates()

In [10]:
# Split up Span into Start and End Date
start_date= df['Span'].str.split('-').str.get(0)
end_date= df['Span'].str.split('-').str.get(1)
df.drop('Span', axis=1, inplace=True)

df.insert(1, 'Rookie_Year', start_date)
df.insert(2, 'Final_Year', end_date)

In [11]:
df['Rookie_Year'] = pd.to_datetime(df['Rookie_Year']).dt.year # for testing useless code
df['Final_Year'] = pd.to_datetime(df['Final_Year']).dt.year # for testing useless code

In [12]:
df['Country'] = df['Player'].str.split('(').str.get(1).str.replace(')', '')

In [13]:
df['Player'] = df['Player'].str.split().str[:2].str.join(' ')

In [15]:
df['Highest_Inns_Score'] = df['Highest_Inns_Score'].str.replace('\\W', '', regex=True)

In [17]:
df['Highest_Inns_Score'] = df['Highest_Inns_Score'].astype(int)

In [21]:
df = df.astype(
  {
    'Rookie_Year': int, 
    'Final_Year': int
  })

In [44]:
for col in ['Matches', "Final_Year", 'Rookie_Year']:
  df[col] = pd.to_numeric(df[col], downcast='unsigned')

In [45]:
df.memory_usage(deep=True)

Index                   132
Player                 3667
Rookie_Year             124
Final_Year              124
Matches                  62
Inns                    496
Not_Outs                496
Runs                    496
Highest_Inns_Score      248
Ave                     496
Balls_Faced            3327
Batting_Strike_Rate     496
100                     496
50                      496
0                       496
4s                     3267
6s                     3141
Country                3227
dtype: int64

In [50]:
for col in ['Balls_Faced', '4s']:
  df[col] = df[col].str.replace('\\W', '', regex=True)

In [57]:
for col in ['Balls_Faced', '4s']:
  df[col] = df[col].replace('', 0).fillna(0).astype(int)

In [66]:
career_length = df['Final_Year'] - df['Rookie_Year']
df.insert(3, 'career_length'.title(), career_length)

ValueError: cannot insert Career_Length, already exists

In [68]:
df['Career_Length'].mean()

13.193548387096774

In [75]:
over_10_years = df[df['Career_Length'] > 10]
over_10_years['Career_Length'].mean()

16.068181818181817

In [88]:
df[df['Rookie_Year'] < 1960]

,Player,Rookie_Year,Final_Year,Career_Length,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Country
0,DG Bradman,1928,1948,20,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,AUS
4,GA Headley,1930,1954,24,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,WI
5,H Sutcliffe,1924,1935,11,54,84,9,4555,194,60.73,6558,34.59,16,23,2,202,6,ENG
6,E Paynter,1931,1939,8,20,31,5,1540,243,59.23,1288,45.88,4,7,3,125,4,ENG
7,KF Barrington,1955,1968,13,82,131,15,6806,256,58.67,4957,42.42,20,35,5,591,27,ENG
8,ED Weekes,1948,1958,10,48,81,5,4455,207,58.61,0,0.00,15,19,6,258,2,WI
9,WR Hammond,1927,1947,20,85,140,16,7249,336,58.45,7491,38.07,22,24,4,419,27,ENG
10,GS Sobers,1954,1974,20,93,160,21,8032,365,57.78,4063,53.58,26,30,12,593,32+,WI
13,JB Hobbs,1908,1930,22,61,102,7,5410,211,56.94,5363,46.22,15,28,4,276,8,ENG
14,CL Walcott,1948,1960,12,44,74,7,3798,220,56.68,0,0.00,15,14,1,107,11,WI
15,L Hutton,1937,1955,18,79,138,15,6971,364,56.67,2844,39.34,19,33,5,358,7,ENG
17,GE Tyldesley,1921,1929,8,14,20,2,990,122,55.00,178,29.21,3,6,2,37,2,ENG
22,AD Nourse,1935,1951,16,34,62,7,2960,231,53.81,108,63.88,9,14,3,115,6,SA
30,J Ryder,1920,1929,9,20,32,5,1394,201,51.62,2035,44.86,3,9,1,102,3,AUS
41,DCS Compton,1937,1957,20,78,131,15,5807,278,50.06,2731,38.81,17,28,10,342,3,ENG
46,FMM Worrell,1948,1963,15,51,87,9,3860,261,49.48,488,40.16,9,22,11,240,11,WI
47,CP Mead,1911,1928,17,17,26,2,1185,182,49.37,619,30.04,4,3,3,38,0,ENG
53,B Mitchell,1929,1949,20,42,80,9,3471,189,48.88,158,29.11,8,21,3,41,1,SA
54,Hon.FS Jackson,1893,1905,12,20,33,4,1415,144,48.79,0,0.00,5,6,3,51,0,ENG
56,RN Harvey,1948,1963,15,79,137,10,6149,205,48.41,1799,43.74,21,24,7,427,1,AUS
59,WH Ponsford,1924,1934,10,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,AUS
60,SJ McCabe,1930,1938,8,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5+,AUS
61,DR Jardine,1928,1934,6,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,ENG

In [89]:
df.groupby('Country').agg(
    {
      'Highest_Inns_Score': 'max'
    }
).sort_values(ascending=False, by='Highest_Inns_Score')

         Highest_Inns_Score
Country
ICC/WI                  400
AUS                     380
SL                      374
WI                      365
ENG                     364
ICC/PAK                 329
ICC/IND                 319
PAK                     313
SA                      278
ICC/SA                  277
IND                     254
NZ                      251
ZIM                     232

In [91]:
df.groupby('Country')[['100', '50', '0']].mean()

               100         50          0
Country
AUS      20.625000  28.375000   8.562500
ENG      12.384615  20.846154   4.307692
ICC/IND  29.500000  47.500000  12.000000
ICC/PAK  25.000000  46.000000  15.000000
ICC/SA   36.000000  48.000000  13.500000
ICC/WI   34.000000  48.000000  17.000000
IND      29.500000  36.500000  10.750000
NZ       18.500000  22.000000   6.000000
PAK      21.250000  28.000000   9.500000
SA        9.800000  20.200000   3.400000
SL       28.666667  44.000000  12.333333
WI       16.625000  25.625000   7.250000
ZIM      12.000000  27.000000   5.000000