https://www.youtube.com/watch?v=iaZQF8SLHJs&list=PLxhYs0VkONL9h5zHZXNntPqLC1JVg9pxX&index=61

In [185]:
import pandas as pd
import datetime as dt
from string import punctuation

In [165]:
url = r'https://www.espncricinfo.com/records/highest-career-batting-average-282910'
df = pd.read_html(url)
df = df[0]

In [166]:
df = df.rename(columns = {
  'Mat': 'Matches',
  'NO': 'Not_Outs',
  'HS': 'Highest_Inns_Score', 
  'BF': 'Balls_Faced', 
  'SR': 'Batting_Strike_Rate'
})

In [167]:
df.isnull().any()

Player                 False
Span                   False
Matches                False
Inns                   False
Not_Outs               False
Runs                   False
Highest_Inns_Score     False
Ave                    False
Balls_Faced            False
Batting_Strike_Rate    False
100                    False
50                     False
0                      False
4s                     False
6s                     False
dtype: bool

In [168]:
df[df['Balls_Faced'].isna() == 1]
# 10.25 finished

Empty DataFrame
Columns: [Player, Span, Matches, Inns, Not_Outs, Runs, Highest_Inns_Score, Ave, Balls_Faced, Batting_Strike_Rate, 100, 50, 0, 4s, 6s]
Index: []

In [169]:
df[df['Player'] == 'ED Weekes (WI)']

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,-,0.0,15,19,6,258+,2

In [170]:
# drop duplicates
# df[df.duplicated()]
df[df['Player'].duplicated() == 0]

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0

In [171]:
df[df['Player'].isin(['GA Headley (WI)', 'GS Sobers (WI)', 'ED Weekes (WI)'])]

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1
8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,-,0.00,15,19,6,258+,2
10,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593+,32+

In [172]:
df = df.drop_duplicates()

In [173]:
# Split up Span into Start and End Date
start_date= df['Span'].str.split('-').str.get(0)
end_date= df['Span'].str.split('-').str.get(1)
df.drop('Span', axis=1, inplace=True)

df.insert(1, 'Rookie_Year', start_date)
df.insert(2, 'Final_Year', end_date)

In [174]:
df['Rookie_Year'] = pd.to_datetime(df['Rookie_Year']).dt.year # for testing useless code
df['Final_Year'] = pd.to_datetime(df['Final_Year']).dt.year # for testing useless code

In [175]:
df['Country'] = df['Player'].str.split('(').str.get(1).str.replace(')', '')

In [179]:
df['Player'] = df['Player'].str.split().str[:2].str.join(' ')

In [193]:
df['Highest_Inns_Score'] = df['Highest_Inns_Score'].str.replace('\\W', '', regex=True)
# 24:35

0     334
1     186
2     269
3     274
4     270
     ...
57    250
58    277
59    266
60    232
61    127
Name: Highest_Inns_Score, Length: 62, dtype: object