# https://www.kaggle.com/datasets/shriyashjagtap/fraudulent-e-commerce-transactions/code

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
fraud_path = r'F:\DataSpell\Pandas_training\Fraud\data_set\Fraudulent_E-Commerce_Transaction_Data.csv'

In [3]:
fraud = pd.read_csv(fraud_path, parse_dates=['Transaction Date']).dropna(how='all')

In [4]:
def is_fraudulent(row):
    if row == 1: return True
    else: return False

fraud['Is Fraudulent'] = fraud['Is Fraudulent'].apply(is_fraudulent)

In [5]:
fraud['Payment Method'] = fraud['Payment Method'].str.lower().astype('category')
fraud['Product Category'] = fraud['Product Category'].str.lower().astype('category')
fraud['Quantity'] = pd.to_numeric(fraud['Quantity'], downcast='integer')
fraud['Customer Age'] = pd.to_numeric(fraud['Customer Age'], downcast='integer')
fraud['Device Used'] = fraud['Device Used'].str.lower().astype('category')
fraud['Is Fraudulent'] = fraud['Is Fraudulent'].astype(bool)
fraud['Account Age Days'] = pd.to_numeric(fraud['Account Age Days'], downcast='integer')
fraud['Transaction Hour'] = pd.to_numeric(fraud['Transaction Hour'], downcast='integer')

In [6]:
fraud.head()

,Transaction ID,Customer ID,Transaction Amount,Transaction Date,Payment Method,Product Category,Quantity,Customer Age,Customer Location,Device Used,IP Address,Shipping Address,Billing Address,Is Fraudulent,Account Age Days,Transaction Hour
0,15d2e414-8735-46fc-9e02-80b472b2580f,d1b87f62-51b2-493b-ad6a-77e0fe13e785,58.09,2024-02-20 05:58:41,bank transfer,electronics,1,17,Amandaborough,tablet,212.195.49.198,Unit 8934 Box 0058\nDPO AA 05437,Unit 8934 Box 0058\nDPO AA 05437,False,30,5
1,0bfee1a0-6d5e-40da-a446-d04e73b1b177,37de64d5-e901-4a56-9ea0-af0c24c069cf,389.96,2024-02-25 08:09:45,debit card,electronics,2,40,East Timothy,desktop,208.106.249.121,"634 May Keys\nPort Cherylview, NV 75063","634 May Keys\nPort Cherylview, NV 75063",False,72,8
2,e588eef4-b754-468e-9d90-d0e0abfc1af0,1bac88d6-4b22-409a-a06b-425119c57225,134.19,2024-03-18 03:42:55,paypal,home & garden,2,22,Davismouth,tablet,76.63.88.212,"16282 Dana Falls Suite 790\nRothhaven, IL 15564","16282 Dana Falls Suite 790\nRothhaven, IL 15564",False,63,3
3,4de46e52-60c3-49d9-be39-636681009789,2357c76e-9253-4ceb-b44e-ef4b71cb7d4d,226.17,2024-03-16 20:41:31,bank transfer,clothing,5,31,Lynnberg,desktop,207.208.171.73,"828 Strong Loaf Apt. 646\nNew Joshua, UT 84798","828 Strong Loaf Apt. 646\nNew Joshua, UT 84798",False,124,20
4,074a76de-fe2d-443e-a00c-f044cdb68e21,45071bc5-9588-43ea-8093-023caec8ea1c,121.53,2024-01-15 05:08:17,bank transfer,clothing,2,51,South Nicole,tablet,190.172.14.169,"29799 Jason Hills Apt. 439\nWest Richardtown, ...","29799 Jason Hills Apt. 439\nWest Richardtown, ...",False,158,5

In [7]:
%%time 
# fraud.info() # 179.8+ MB # 102.5+ MB
fraud.nunique() # 2.29 s

CPU times: total: 1.81 s
Wall time: 2.4 s

Transaction ID        1472952
Customer ID           1472952
Transaction Amount     108998
Transaction Date      1346684
Payment Method              4
Product Category            5
Quantity                    5
Customer Age               97
Customer Location       99135
Device Used                 3
IP Address            1472651
Shipping Address      1472948
Billing Address       1472949
Is Fraudulent               2
Account Age Days          365
Transaction Hour           24
dtype: int64

In [8]:
fraud.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1472952 entries, 0 to 1472951
Data columns (total 16 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   Transaction ID      1472952 non-null  object
 1   Customer ID         1472952 non-null  object
 2   Transaction Amount  1472952 non-null  float64
 3   Transaction Date    1472952 non-null  datetime64[ns]
 4   Payment Method      1472952 non-null  category
 5   Product Category    1472952 non-null  category
 6   Quantity            1472952 non-null  int8
 7   Customer Age        1472952 non-null  int8
 8   Customer Location   1472952 non-null  object
 9   Device Used         1472952 non-null  category
 10  IP Address          1472952 non-null  object
 11  Shipping Address    1472952 non-null  object
 12  Billing Address     1472952 non-null  object
 13  Is Fraudulent       1472952 non-null  bool
 14  Account Age Days    1472952 non-null  int16
 15  Transaction Hour    1472952 non-null  int8
dtypes: bool(1), category(3), datetime64[ns](1), float64(1), int16(1), int8(3), object(6)
memory usage: 102.5+ MB

# 1. How many unique customers are there in the dataset?

In [9]:
fraud.head()

,Transaction ID,Customer ID,Transaction Amount,Transaction Date,Payment Method,Product Category,Quantity,Customer Age,Customer Location,Device Used,IP Address,Shipping Address,Billing Address,Is Fraudulent,Account Age Days,Transaction Hour
0,15d2e414-8735-46fc-9e02-80b472b2580f,d1b87f62-51b2-493b-ad6a-77e0fe13e785,58.09,2024-02-20 05:58:41,bank transfer,electronics,1,17,Amandaborough,tablet,212.195.49.198,Unit 8934 Box 0058\nDPO AA 05437,Unit 8934 Box 0058\nDPO AA 05437,False,30,5
1,0bfee1a0-6d5e-40da-a446-d04e73b1b177,37de64d5-e901-4a56-9ea0-af0c24c069cf,389.96,2024-02-25 08:09:45,debit card,electronics,2,40,East Timothy,desktop,208.106.249.121,"634 May Keys\nPort Cherylview, NV 75063","634 May Keys\nPort Cherylview, NV 75063",False,72,8
2,e588eef4-b754-468e-9d90-d0e0abfc1af0,1bac88d6-4b22-409a-a06b-425119c57225,134.19,2024-03-18 03:42:55,paypal,home & garden,2,22,Davismouth,tablet,76.63.88.212,"16282 Dana Falls Suite 790\nRothhaven, IL 15564","16282 Dana Falls Suite 790\nRothhaven, IL 15564",False,63,3
3,4de46e52-60c3-49d9-be39-636681009789,2357c76e-9253-4ceb-b44e-ef4b71cb7d4d,226.17,2024-03-16 20:41:31,bank transfer,clothing,5,31,Lynnberg,desktop,207.208.171.73,"828 Strong Loaf Apt. 646\nNew Joshua, UT 84798","828 Strong Loaf Apt. 646\nNew Joshua, UT 84798",False,124,20
4,074a76de-fe2d-443e-a00c-f044cdb68e21,45071bc5-9588-43ea-8093-023caec8ea1c,121.53,2024-01-15 05:08:17,bank transfer,clothing,2,51,South Nicole,tablet,190.172.14.169,"29799 Jason Hills Apt. 439\nWest Richardtown, ...","29799 Jason Hills Apt. 439\nWest Richardtown, ...",False,158,5

In [10]:
fraud['Customer ID'].nunique()

1472952

# 2. What is the total number of fraudulent transactions?

In [12]:
# fraud['Transaction Amount'].sum()
fraud[fraud['Is Fraudulent'] == 1].shape[0]

73838

TypeError: 'tuple' object is not callable